.cooperation-hero {
   background-color: $background;
   border-radius: 10px;
   margin-top: 30px;

   &__inner {
      @include flex-between-center;
      gap: 15px;
      padding: 40px 40px 40px 0px;
   }
   &__content {
      max-width: 615px;
   }
   &__title {
      margin-bottom: 7px;
   }
   &__descr {
      font-size: 20px;
      margin-bottom: 35px;
   }
   &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 20px 32px;
      font-weight: 500;
      line-height: 1.28;
   }
   &__item {
      position: relative;
      // width: calc(50% - 80px);
      width: 38%;
      min-height: 40px;
      padding-left: 55px;

      &::before {
         @include pseudo;
         width: 40px;
         height: 40px;
         background-color: $accent-rgb-10;
         border-radius: 5px;
         left: 0;
         top: 0;
      }
      &::after {
         @include pseudo;
         @include img-bg;
         left: 12px;
         top: 12px;
         width: 16px;
         height: 16px;
      }
   }
   &__item--1 {
      &::after {
         background-image: url("../images/icons/wallet.svg");
      }
   }
   &__item--2 {
      &::after {
         background-image: url("../images/icons/box.svg");
      }
   }
   &__item--3 {
      &::after {
         background-image: url("../images/icons/update-arrow.svg");
      }
   }
   &__item--4 {
      &::after {
         background-image: url("../images/icons/picture-icon.svg");
      }
   }

   &__form {
      flex-shrink: 0;
   }
}

