<div class="baner-wide">
   <div class="container">
      <div class="baner-wide__inner">
         <img class="baner-wide__img" src="images/baners/img-3.png" alt="quadcopter">
         <div class="baner-wide__content">
            <span class="baner-wide__label label label--red">
               Акция
            </span>
            <h2 class="baner-wide__title title-xl">
               Бесплатная доставка электросамокатов по России до 01.09
            </h2>
            <a class="baner-wide__link btn btn--secondary" href="#">
               Подробнее
            </a>
         </div>
      </div>
   </div>
</div>