<section class="popular-categories section">
   <div class="container">
      <div class="popular-categories__top">
         <h2 class="title-xl">
            Популярные категории
         </h2>
         <div class="ask-question">
            <div class="ask-question__img-wrap">
               <img class="ask-question__img" src="images/consultant.png" width="56" height="71" alt="фото консультанта">
            </div>
            <div class="ask-question__content">
               <h4 class="ask-question__title">
                  Менеджер ответит на любой ваш вопрос о продуктах Kugoo
               </h4>
               <a class="ask-question__link hover" href="">Задать вопрос</a>
              
            </div>
         </div>
      </div>

      <ul class="popular-categories__cards">
         <li class="popular-categories__item">
            <article class="popular-card">
               <a class="popular-card__link" href="#"
                  style="background-image: url('images/popular-card/popular-1.jpg');">
                  <div class="popular-card__content">
                     <h3 class="title-md">
                        Весы
                     </h3>
                     <div class="popular-card__price">
                        от
                        <span class="popular-card__price-num">29 900</span>
                        <span class="popular-card__price-currency">₽</span>
                     </div>
                  </div>
               </a>
            </article>
         </li>
         <li class="popular-categories__item">
            <article class="popular-card">
               <a class="popular-card__link" href="#"
                  style="background-image: url('images/popular-card/popular-2.webp');">
                  <div class="popular-card__content">
                     <h3 class="title-md">
                        Робот-пылесоссы
                     </h3>
                     <div class="popular-card__price">
                        от
                        <span class="popular-card__price-num">29 900</span>
                        <span class="popular-card__price-currency">₽</span>
                     </div>
                  </div>
               </a>
            </article>
         </li>
         <li class="popular-categories__item">
            <article class="popular-card">
               <a class="popular-card__link" href="#"
                  style="background-image: url('images/popular-card/popular-3.jpg');">
                  <div class="popular-card__content">
                     <h3 class="title-md">
                        Электровелосипеды
                     </h3>
                     <div class="popular-card__price">
                        от
                        <span class="popular-card__price-num">29 900</span>
                        <span class="popular-card__price-currency">₽</span>
                     </div>
                  </div>
               </a>
            </article>
         </li>
         <li class="popular-categories__item">
            <article class="popular-card">
               <a class="popular-card__link" href="#"
                  style="background-image: url('images/popular-card/popular-1.jpg');">
                  <div class="popular-card__content">
                     <h3 class="title-md">
                        Весы
                     </h3>
                     <div class="popular-card__price">
                        от
                        <span class="popular-card__price-num">29 900</span>
                        <span class="popular-card__price-currency">₽</span>
                     </div>
                  </div>
               </a>
            </article>
         </li>
         <li class="popular-categories__item">
            <article class="popular-card">
               <a class="popular-card__link" href="#"
                  style="background-image: url('images/popular-card/popular-2.webp');">
                  <div class="popular-card__content">
                     <h3 class="title-md">
                        Весы
                     </h3>
                     <div class="popular-card__price">
                        от
                        <span class="popular-card__price-num">29 900</span>
                        <span class="popular-card__price-currency">₽</span>
                     </div>
                  </div>
               </a>
            </article>
         </li>
         <li class="popular-categories__item">
            <article class="popular-card">
               <a class="popular-card__link" href="#"
                  style="background-image: url('images/popular-card/popular-3.jpg');">
                  <div class="popular-card__content">
                     <h3 class="title-md">
                        Электровелосипеды
                     </h3>
                     <div class="popular-card__price">
                        от
                        <span class="popular-card__price-num">29 900</span>
                        <span class="popular-card__price-currency">₽</span>
                     </div>
                  </div>
               </a>
            </article>
         </li>
         <li class="popular-categories__item">
            <article class="popular-card">
               <a class="popular-card__link" href="#"
                  style="background-image: url('images/popular-card/popular-2.webp');">
                  <div class="popular-card__content">
                     <h3 class="title-md">
                        Весы
                     </h3>
                     <div class="popular-card__price">
                        от
                        <span class="popular-card__price-num">29 900</span>
                        <span class="popular-card__price-currency">₽</span>
                     </div>
                  </div>
               </a>
            </article>
         </li>
         <li class="popular-categories__item">
            <article class="popular-card">
               <a class="popular-card__link" href="#"
                  style="background-image: url('images/popular-card/popular-3.jpg');">
                  <div class="popular-card__content">
                     <h3 class="title-md">
                        Электровелосипеды
                     </h3>
                     <div class="popular-card__price">
                        от
                        <span class="popular-card__price-num">29 900</span>
                        <span class="popular-card__price-currency">₽</span>
                     </div>
                  </div>
               </a>
            </article>
         </li>
      </ul>

      <div class="popular-categories__bottom">
         <button class="btn btn--with-border" type="button">
            Смотреть все
         </button>
      </div>
   </div>
</section>