html,
body {
   // scrollbar-gutter: stable;
   height: 100%;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: $font-family;
   color: $black;
   background-color: $background-color;
   font-size: $font-size;
   line-height: $line-height;
   font-weight: 400;
   overflow-x: hidden;
   scrollbar-gutter: stable;
}

.wrapper {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.header,
.footer {
   flex-grow: 0;
}
.main {
   flex-grow: 1;
}

.container {
   max-width: $container;
   padding: $container-padding;
   margin: 0 auto;
}

.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.lock {
   overflow: hidden;
}

.hidden-scrollbar {
   &::-webkit-scrollbar {
      width: 0;
   }
}

.custom-scrollbar {
   &::-webkit-scrollbar {
      width: 10px;
      background-color: #f9f9fd;
   }

   &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: $gray-600;
   }

   &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      background-color: #f9f9fd;
   }
}

.ttu {
   text-transform: uppercase;
}

.overlay {
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.5);
   height: 100%;
   width: 100%;
   opacity: 0;
   visibility: hidden;
   transition:
      opacity 0.2s,
      visibility 0.2s;
   z-index: 99;

   &.is-active {
      opacity: 1;
      visibility: visible;
   }
}

//-------------------------------//

.d-flex {
   display: flex;
}

.d-flex-wrap {
   display: flex;
   flex-wrap: wrap;
}

.d-flex-column {
   display: flex;
   flex-direction: column;
}

.align-start {
   align-items: flex-start;
}

.align-center {
   align-items: center;
}

.align-end {
   align-items: flex-end;
}

.justify-start {
   justify-content: flex-start;
}

.justify-center {
   justify-content: center;
}

.justify-end {
   justify-content: flex-end;
}

.justify-between {
   justify-content: space-between;
}

.justify-around {
   justify-content: space-around;
}

.justify-evenly {
   justify-content: space-evenly;
}

.grid {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
}

.section-padding {
   padding: 50px 0;
}

.section-margin {
   margin: 50px 30px;
}

.btn {
   display: inline-block;
   font-size: 16px;
   color: $white;
   padding: 15px 25px;
   text-align: center;
   border-radius: 5px;
   transition:
      color 0.2s,
      background-color 0.2s,
      box-shadow 0.2s,
      border 0.2s,
      opacity 0.2s;

   &:focus {
      box-shadow: 0 0 0 3px $accent-rgb-30;
   }
   &:active {
      box-shadow: 0px 4px 4px 0px $black-rgb-15 inset;
   }

   &--primary {
      background-color: $accent;
      &:hover {
         background-color: #8185f9;
      }
   }

   &--secondary {
      background-color: $background;
      color: $gray-600;
      border: 1.3px solid transparent;

      &:hover {
         color: $accent;
         background-color: $white;
         border: 1.3px solid $accent;
      }
      &:active {
         background-color: $background;
      }
   }

   &--secondary-2 {
      background-color: $white;
      color: $accent;
      border: 1.3px solid transparent;

      &:hover {
         background-color: $accent;
         color: $white;
         border: 1.3px solid $white;
      }
      &:focus {
         box-shadow: 0 0 0 3px $white-rgb-50;
      }
      &:active {
         opacity: 0.7;
      }
   }

   &--with-border {
      color: $accent;
      background-color: $white;
      border: 1.3px solid $accent;
      &:hover {
         background-color: $accent-rgb-10;
      }
   }

   &--medium {
      font-size: 12px;
      padding: 10px 20px;
   }

   &--with-icon {
      width: 187px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      font-weight: 500;
      padding: 11px 18px;
      border-radius: 10px;
   }

   &__icon {
      fill: $white;
   }
}

.btn-compare,
.btn-wishlist,
.btn-cart,
.btn-colose {
   @include center;
   width: 40px;
   height: 40px;
   border-radius: 100%;
   transition:
      background-color $transition,
      box-shadow $transition,
      fill $transition;

   &:hover {
      background-color: $background;
      fill: $accent;
   }
   &:focus {
      box-shadow: 0 0 0 3px $accent-rgb-30;
   }
   &:active {
      background-color: $background-rgb-30;
   }
}

.btn-cart__compare,
.btn-cart__wishlist,
.btn-cart__icon {
   transition: fill $transition;
}

.link {
   display: inline-block;
   position: relative;
   font-size: 14px;
   font-weight: 500;
   color: $accent;
   padding: 1px 3px;
   border-radius: 3px;
   transition:
      color 0.2s,
      box-shadow 0.2s,
      opacity 0.2s;

   &:hover {
      text-decoration: underline;
   }
   &:focus {
      box-shadow: 0 0 0 2px $accent-rgb-30;
   }
   &:active {
      opacity: 0.8;
   }

   &__icon {
      fill: $accent;
      transition: transform $transition;
   }

   &--with-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
   }
}

.price {
   display: flex;
   flex-direction: column;
   &__old {
      font-size: 12px;
      font-weight: 500;
      color: $gray-600;
      text-decoration-line: line-through;
   }
   &__currency {
   }
   &__current {
      font-size: 20px;
      font-weight: 600;
   }
}

.label {
   display: inline-block;
   color: $white;
   padding: 4px 8px;
   border-radius: 5px;
   background-color: $black;

   &--green {
      background-color: $green;
   }
   &--red {
      background-color: $red;
   }
}

// Swiper buttons //
.slider-btn-prev,
.slider-btn-next {
   width: 40px;
   height: 40px;
   outline: transparent;

   svg {
      width: 7px;
      height: 12px;
   }
}

.swiper-button-prev::after,
.swiper-button-next::after {
   display: none;
}
//-----------------------//

.box-card {
   padding: 100px 0;

   &__container {
      max-width: 1140px;
      margin: 0 auto;
      padding: 0 15px;
   }

   &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
      gap: 30px;
   }
}

.hover-underline {
   position: relative;
   transition: opacity $transition;

   &::before {
      @include pseudo;
      background-color: $gray-600;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0;
      opacity: 0;
      transition:
         opacity $transition,
         box-shadow $transition;
   }

   @include hover {
      &::before {
         opacity: 1;
      }
   }

   &:focus {
      color: $accent;
      box-shadow: 0 0 0 2px $accent-rgb-30;
      border-radius: 3px;
   }

   &:active {
      opacity: 0.8;
      &::before {
         opacity: 0.8;
      }
   }
}

.title-xl {
   font-size: 35px;
   font-weight: 600;
   text-transform: uppercase;
}

.title-lg {
   font-size: 25px;
   font-weight: 600;
   text-transform: uppercase;
}

.title-md {
   font-size: 18px;
   font-weight: 500;
}

.title-sm {
   font-size: 16px;
   font-weight: 500;
}

.hover {
   padding: 0 3px;
   margin: 0 -3px;
   border-radius: 3px;
   transition:
      color $transition,
      opacity $transition;

   @include hover {
      color: $accent;
   }
   &:focus {
      color: $accent;
      box-shadow: 0 0 0 2px $accent-rgb-30;
   }
   &:active {
      opacity: 0.7;
   }
}

.hover-opacity {
   transition:
      opacity $transition,
      box-shadow $transition;

   @include hover {
      opacity: 0.8;
   }

   &:focus {
      box-shadow: 0 0 0 3px $accent-rgb-30;
   }

   &:active {
      opacity: 0.6;
   }
}

.input-second {
   color: $white;
   font-size: 16px;
   padding: 16px 25px;
   background-color: $background-rgb-20;
   border-radius: 5px;
   transition:
      box-shadow $transition,
      opacity $transition;

   &::placeholder {
      color: $white;
      font-size: 16;
      opacity: 0.7;

      transition: opacity $transition;
   }

   @include hover {
      box-shadow: 0 0 0 1px $white;
      &::placeholder {
         opacity: 1;
      }
   }

   &:focus {
      box-shadow: 0 0 0 3px $white-rgb-50;
      &::placeholder {
         opacity: 0;
      }
   }
}

.logo {
   padding: 0 5px;
   margin: 0 -5px;
   border-radius: 5px;
}

// ------ global swiper btn ----//

.swiper-btn-prev,
.swiper-btn-next {
   @include center;
   width: 68px;
   height: 68px;
   background-color: $accent;
   border-radius: 100%;
   outline: transparent;
   cursor: pointer;
   transition:
      background-color $transition,
      box-shadow $transition;

   &__icon {
      fill: $white;
   }

   @include hover {
      background-color: #8185f9;
   }

   &:focus {
      box-shadow: 0 0 0 3px $white-rgb-70;
   }
   &:active {
      box-shadow: 0px 4px 4px 0px $black-rgb-15 inset;
   }
}

.swiper-button-disabled {
   opacity: 0.35;
   pointer-events: none;
   transition: opacity $transition;
}

// ------ global swiper btn  end----//

.eclipse {
   position: relative;
   &::after {
      @include pseudo;
      background-color: rgba(0, 0, 0, 0.15);
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      visibility: hidden;
      transition:
         opacity $transition,
         visibility $transition;
   }

   @include hover {
      &::after {
         opacity: 1;
         visibility: visible;
      }
   }
}

.text-center {
   text-align: center;
}
.text-right {
   text-align: right;
}
