//  colors //
$gray-100: #EEF0F3;
$gray-200: #EAEBED;
$gray-300: #BBC3CF;
$gray-600: #5D6C7B;
$gray-600-rgb-15: rgba(93, 108, 123, 0.15);
$black: #282739;
$black-rgb-15: rgba(40, 39, 57, 0.15);
$black-rgb-10: rgba(40, 39, 57, 0.10);
$black-rgb-5: rgba(40, 39, 57, 0.05);
$accent: #6F73EE;
$accent-rgb-30: rgba(111, 115, 238, 0.3);
$accent-rgb-20: rgba(111, 115, 238, 0.2);
$accent-rgb-10: rgba(111, 115, 238, 0.10);
$white: #ffffff;
$white-rgb-50: rgba(255, 255, 255, 0.50);
$white-rgb-40: rgba(255, 255, 255, 0.40);
$white-rgb-10: rgba(255, 255, 255, 0.10);
$orange: #EE685F;
$green: #75D14A;
$background: #F4F7FB;
$background-rgb-70: rgba(244, 247, 251, 0.7);
$background-rgb-60: rgba(244, 247, 251, 0.6);
$background-rgb-30: rgba(244, 247, 251, 0.3);
$background-rgb-20: rgba(244, 247, 251, 0.2);

$transition: 0.3s;



//  base  //
$font-family: "Jost", sans-serif;
// $font-family: "Roboto", sans-serif;
$container: 1140px;
$container-padding: 0 15px;
$background-color: #ffffff;
$font-size: 14px;
$line-height: 1.4;






// burger //
$color-line: #000000;

//------------//

//==== burger-2 =====//

$bar-width: 35px;
$bar-height: 3px;
$bar-spacing: 12px;
$bar-color: #000000;

//=====================//


// breakpoints //
$breakpoints: (
    "desktop-lg": 1440px,
    "desktop": 1200px,
    "tablet-lg": 992px,
    "tablet": 768px,
    "phone": 576px,
    "phone-xs": 360px,
);

