<section class="blog section">
   <div class="container">
      <h2 class="blog__title title-xl">
         Новые статьи в блоге
      </h2>

      <!-- Slider main container -->
      <div class="swiper blog__swiper">
         <!-- Additional required wrapper -->
         <div class="swiper-wrapper blog__swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide blog__swiper-slide">
               <article class="blog-card">
                  <a class="blog-card__link" href="#" target="_blank">
                     <div class="blog-card__img eclipse" style="background-image: url('images/blog/blog-1.jpg');"></div>

                     <div class="blog-card__content">
                        <h3 class="blog-card__title">
                           Как правильно заряжать электросамокат
                        </h3>
                        <p class="blog-card__text">
                           Один из первых вопросов, который волнует после покупки электросамоката первых вопросов,
                           который волнует
                           после покупки электросамоката.Один из первых вопросов, который волнует после покупки
                           электросамоката.
                        </p>
                        <div class="blog-card__bottom">
                           <time class="blog-card__date blog-card__date--calendar" datetime="2021-09-01">
                              01.09.2021
                           </time>
                           <span class="blog-card__views blog-card__views--eye">
                              53
                           </span>
                        </div>
                     </div>
                  </a>
               </article>
            </div>
            <div class="swiper-slide blog__swiper-slide">
               <article class="blog-card">
                  <a class="blog-card__link" href="#" target="_blank">
                     <div class="blog-card__img eclipse" style="background-image: url('images/blog/blog-2.jpg');"></div>

                     <div class="blog-card__content">
                        <h3 class="blog-card__title">
                           Как правильно заряжать электросамокат
                        </h3>
                        <p class="blog-card__text">
                           Один из первых вопросов, который волнует после покупки электросамоката первых вопросов,
                           который волнует
                           после покупки электросамоката.Один из первых вопросов, который волнует после покупки
                           электросамоката.
                        </p>
                        <div class="blog-card__bottom">
                           <time class="blog-card__date blog-card__date--calendar" datetime="2021-09-01">
                              01.09.2021
                           </time>
                           <span class="blog-card__views blog-card__views--eye">
                              53
                           </span>
                        </div>
                     </div>
                  </a>
               </article>
            </div>
            <div class="swiper-slide blog__swiper-slide">
               <article class="blog-card">
                  <a class="blog-card__link" href="#" target="_blank">
                     <div class="blog-card__img eclipse" style="background-image: url('images/blog/blog-3.jpg');"></div>

                     <div class="blog-card__content">
                        <h3 class="blog-card__title">
                           Как правильно заряжать электросамокат
                        </h3>
                        <p class="blog-card__text">
                           Один из первых вопросов, который волнует после покупки электросамоката первых вопросов,
                           который волнует
                           после покупки электросамоката.Один из первых вопросов, который волнует после покупки
                           электросамоката.
                        </p>
                        <div class="blog-card__bottom">
                           <time class="blog-card__date blog-card__date--calendar" datetime="2021-09-01">
                              01.09.2021
                           </time>
                           <span class="blog-card__views blog-card__views--eye">
                              53
                           </span>
                        </div>
                     </div>
                  </a>
               </article>
            </div>
            <div class="swiper-slide blog__swiper-slide">
               <article class="blog-card">
                  <a class="blog-card__link" href="#" target="_blank">
                     <div class="blog-card__img eclipse" style="background-image: url('images/blog/blog-4.jpg');"></div>

                     <div class="blog-card__content">
                        <h3 class="blog-card__title">
                           Как правильно заряжать электросамокат
                        </h3>
                        <p class="blog-card__text">
                           Один из первых вопросов, который волнует после покупки электросамоката первых вопросов,
                           который волнует
                           после покупки электросамоката.Один из первых вопросов, который волнует после покупки
                           электросамоката.
                        </p>
                        <div class="blog-card__bottom">
                           <time class="blog-card__date blog-card__date--calendar" datetime="2021-09-01">
                              01.09.2021
                           </time>
                           <span class="blog-card__views blog-card__views--eye">
                              53
                           </span>
                        </div>
                     </div>
                  </a>
               </article>
            </div>
            <div class="swiper-slide blog__swiper-slide">
               <article class="blog-card">
                  <a class="blog-card__link" href="#" target="_blank">
                     <div class="blog-card__img eclipse" style="background-image: url('images/blog/blog-1.jpg');"></div>

                     <div class="blog-card__content">
                        <h3 class="blog-card__title">
                           Как правильно заряжать электросамокат
                        </h3>
                        <p class="blog-card__text">
                           Один из первых вопросов, который волнует после покупки электросамоката первых вопросов,
                           который волнует
                           после покупки электросамоката.Один из первых вопросов, который волнует после покупки
                           электросамоката.
                        </p>
                        <div class="blog-card__bottom">
                           <time class="blog-card__date blog-card__date--calendar" datetime="2021-09-01">
                              01.09.2021
                           </time>
                           <span class="blog-card__views blog-card__views--eye">
                              53
                           </span>
                        </div>
                     </div>
                  </a>
               </article>
            </div>
            <div class="swiper-slide blog__swiper-slide">
               <article class="blog-card">
                  <a class="blog-card__link" href="#" target="_blank">
                     <div class="blog-card__img eclipse" style="background-image: url('images/blog/blog-2.jpg');"></div>

                     <div class="blog-card__content">
                        <h3 class="blog-card__title">
                           Как правильно заряжать электросамокат
                        </h3>
                        <p class="blog-card__text">
                           Один из первых вопросов, который волнует после покупки электросамоката первых вопросов,
                           который волнует
                           после покупки электросамоката.Один из первых вопросов, который волнует после покупки
                           электросамоката.
                        </p>
                        <div class="blog-card__bottom">
                           <time class="blog-card__date blog-card__date--calendar" datetime="2021-09-01">
                              01.09.2021
                           </time>
                           <span class="blog-card__views blog-card__views--eye">
                              53
                           </span>
                        </div>
                     </div>
                  </a>
               </article>
            </div>
            <div class="swiper-slide blog__swiper-slide">
               <article class="blog-card">
                  <a class="blog-card__link" href="#" target="_blank">
                     <div class="blog-card__img eclipse" style="background-image: url('images/blog/blog-3.jpg');"></div>

                     <div class="blog-card__content">
                        <h3 class="blog-card__title">
                           Как правильно заряжать электросамокат
                        </h3>
                        <p class="blog-card__text">
                           Один из первых вопросов, который волнует после покупки электросамоката первых вопросов,
                           который волнует
                           после покупки электросамоката.Один из первых вопросов, который волнует после покупки
                           электросамоката.
                        </p>
                        <div class="blog-card__bottom">
                           <time class="blog-card__date blog-card__date--calendar" datetime="2021-09-01">
                              01.09.2021
                           </time>
                           <span class="blog-card__views blog-card__views--eye">
                              53
                           </span>
                        </div>
                     </div>
                  </a>
               </article>
            </div>
            <div class="swiper-slide blog__swiper-slide">
               <article class="blog-card">
                  <a class="blog-card__link" href="#" target="_blank">
                     <div class="blog-card__img eclipse" style="background-image: url('images/blog/blog-4.jpg');"></div>

                     <div class="blog-card__content">
                        <h3 class="blog-card__title">
                           Как правильно заряжать электросамокат
                        </h3>
                        <p class="blog-card__text">
                           Один из первых вопросов, который волнует после покупки электросамоката первых вопросов,
                           который волнует
                           после покупки электросамоката.Один из первых вопросов, который волнует после покупки
                           электросамоката.
                        </p>
                        <div class="blog-card__bottom">
                           <time class="blog-card__date blog-card__date--calendar" datetime="2021-09-01">
                              01.09.2021
                           </time>
                           <span class="blog-card__views blog-card__views--eye">
                              53
                           </span>
                        </div>
                     </div>
                  </a>
               </article>
            </div>
    
         </div>

         <!-- If we need navigation buttons -->
         <div class="swiper-btn-prev blog__swiper-prev">
            <svg class="swiper-btn-prev__icon" width="10" height="18">
               <use xlink:href="images/sprite.svg#icon-arrow-left"></use>
            </svg>
         </div>
         <div class="swiper-btn-next blog__swiper-next">
            <svg class="swiper-btn-next__icon" width="10" height="18">
               <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
            </svg>
         </div>

      </div>
   </div>
</section>