<section class="video-review section">
   <div class="container">
      <div class="video-review__top">
         <h2 class="video-review__title title-xl">
            Видеообзоры
         </h2>
         <a class="video-review__link link link--with-icon" href="#">
            Смотреть все видеообзоры
            <svg class="link__icon" width="18" height="18">
               <use xlink:href="images/sprite.svg#arrow-right"></use>
            </svg>
         </a>
      </div>
      <p class="video-review__descr">
         Узнайте больше о самокатах Kugoo и посмотрите сравнительные обзоры разных моделей на нашем
         YouTube-канале.
      </p>

      <!-- Slider main container -->
      <div class="swiper video-review-swiper">
         <!-- Additional required wrapper -->
         <div class="swiper-wrapper video-review-swiper__wrapper">
            <!-- Slides -->
            <div class="swiper-slide video-review-swiper__slide">
               <article class="video-review-card">
                  <a class="video-review-card__link video__link" data-fancybox
                     href="https://youtu.be/slXTiYkgvkc?si=d8JEBQe_H6ftVH_7"
                     style="background-image: url('images/video/01.jpg');"></a>
                  <h3 class="video-review-card__title title-md">
                     Крутой и городской? Обзор Kugoo XS Plus
                  </h3>
               </article>
            </div>
            <div class="swiper-slide video-review-swiper__slide">
               <article class="video-review-card">
                  <a class="video-review-card__link video__link" data-fancybox
                     href="https://youtu.be/slXTiYkgvkc?si=d8JEBQe_H6ftVH_7"
                     style="background-image: url('images/video/01.jpg');"></a>
                  <h3 class="video-review-card__title title-md">
                     Крутой и городской? Обзор Kugoo XS Plus
                  </h3>
               </article>
            </div>
            <div class="swiper-slide video-review-swiper__slide">
               <article class="video-review-card">
                  <a class="video-review-card__link video__link" data-fancybox
                     href="https://youtu.be/slXTiYkgvkc?si=d8JEBQe_H6ftVH_7"
                     style="background-image: url('images/video/01.jpg');"></a>
                  <h3 class="video-review-card__title title-md">
                     Крутой и городской? Обзор Kugoo XS Plus
                  </h3>
               </article>
            </div>
            <div class="swiper-slide video-review-swiper__slide">
               <article class="video-review-card">
                  <a class="video-review-card__link video__link" data-fancybox
                     href="https://youtu.be/slXTiYkgvkc?si=d8JEBQe_H6ftVH_7"
                     style="background-image: url('images/video/01.jpg');"></a>
                  <h3 class="video-review-card__title title-md">
                     Крутой и городской? Обзор Kugoo XS Plus
                  </h3>
               </article>
            </div>
            <div class="swiper-slide video-review-swiper__slide">
               <article class="video-review-card">
                  <a class="video-review-card__link video__link" data-fancybox
                     href="https://youtu.be/slXTiYkgvkc?si=d8JEBQe_H6ftVH_7"
                     style="background-image: url('images/video/01.jpg');"></a>
                  <h3 class="video-review-card__title title-md">
                     Крутой и городской? Обзор Kugoo XS Plus
                  </h3>
               </article>
            </div>
            <div class="swiper-slide video-review-swiper__slide">
               <article class="video-review-card">
                  <a class="video-review-card__link video__link" data-fancybox
                     href="https://youtu.be/slXTiYkgvkc?si=d8JEBQe_H6ftVH_7"
                     style="background-image: url('images/video/01.jpg');"></a>
                  <h3 class="video-review-card__title title-md">
                     Крутой и городской? Обзор Kugoo XS Plus
                  </h3>
               </article>
            </div>
            <div class="swiper-slide video-review-swiper__slide">
               <article class="video-review-card">
                  <a class="video-review-card__link video__link" data-fancybox
                     href="https://youtu.be/slXTiYkgvkc?si=d8JEBQe_H6ftVH_7"
                     style="background-image: url('images/video/01.jpg');"></a>
                  <h3 class="video-review-card__title title-md">
                     Крутой и городской? Обзор Kugoo XS Plus
                  </h3>
               </article>
            </div>
            <div class="swiper-slide video-review-swiper__slide">
               <article class="video-review-card">
                  <a class="video-review-card__link video__link" data-fancybox
                     href="https://youtu.be/slXTiYkgvkc?si=d8JEBQe_H6ftVH_7"
                     style="background-image: url('images/video/01.jpg');"></a>
                  <h3 class="video-review-card__title title-md">
                     Крутой и городской? Обзор Kugoo XS Plus
                  </h3>
               </article>
            </div>
            <div class="swiper-slide video-review-swiper__slide">
               <article class="video-review-card">
                  <a class="video-review-card__link video__link" data-fancybox
                     href="https://youtu.be/slXTiYkgvkc?si=d8JEBQe_H6ftVH_7"
                     style="background-image: url('images/video/01.jpg');"></a>
                  <h3 class="video-review-card__title title-md">
                     Крутой и городской? Обзор Kugoo XS Plus
                  </h3>
               </article>
            </div>
            <div class="swiper-slide video-review-swiper__slide">
               <article class="video-review-card">
                  <a class="video-review-card__link video__link" data-fancybox
                     href="https://youtu.be/slXTiYkgvkc?si=d8JEBQe_H6ftVH_7"
                     style="background-image: url('images/video/01.jpg');"></a>
                  <h3 class="video-review-card__title title-md">
                     Крутой и городской? Обзор Kugoo XS Plus
                  </h3>
               </article>
            </div>
         </div>


         <!-- If we need navigation buttons -->
         <div class="swiper-btn-prev video-review-swiper__prev">
            <svg class="swiper-btn-prev__icon" width="10" height="18">
               <use xlink:href="images/sprite.svg#icon-arrow-left"></use>
            </svg>
         </div>
         <div class="swiper-btn-next video-review-swiper__next">
            <svg class="swiper-btn-next__icon" width="10" height="18">
               <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
            </svg>
         </div>

      </div>
   </div>
</section>