<section class="dealer section">
   <div class="container">
      <div class="dealer__inner">
         <div class="dealer__left" >
            <img class="dealer__img" src="images/dealer/img-1.jpg" alt="парень на самокате и две девушки">
            <div class="dealer__left-block">
               <h3 class="dealer__left-title title-md">
                  Тест-драйв в Москве
               </h3>
               <p class="dealer__left-descr">
                  Оцените все преимущества самокатов лично
               </p>
               <a class="dealer__left-link btn btn--primary btn--with-icon btn--medium" href="#">
                  Подробнее
                  <svg class="btn__icon" width="22" height="18">
                     <use xlink:href="images/sprite.svg#arrow-right"></use>
                  </svg>
               </a>
            </div>
         </div>
         <div class="dealer__content">
            <h2 class="dealer__title title-xl">
               Kugoo-Russia — первый официальный дилер Kugoo Kirin в России
            </h2>
            <p class="dealer__descr">
               Наша цель предоставить полный ассортимент современной продукции Kugoo Kirin, которая улучшает и упрощает жизнь.
               Стремимся подарить комфорт и эмоции, поэтому помогаем с выбором и внимательно относимся к сервисному
               обслуживанию.
            </p>
            <div class="dealer__benefits">
               <h4 class="dealer__benefits-title">
                  Специализируемся исключительно на бренде Kugoo, поэтому вы получите:
               </h4>
               <ul class="dealer__list">
                  <li class="dealer__item">
                     цены от завода-изготовителя Jilong
                  </li>
                  <li class="dealer__item">
                     бесплатный тест-драйв самокатов
                  </li>
                  <li class="dealer__item">
                     фирменную гарантию 1 год
                  </li>
                  <li class="dealer__item">
                     ремонт и обслуживание от 1 дня в собственном сервисном центре
                  </li>
                  <li class="dealer__item">
                     более 1 000 запчастей и аксессуаров в наличии
                  </li>
               </ul>
               <a class="link" href="#" target="_blank">
                  Смотреть сертификат
               </a>
            </div>
         </div>
      </div>
   </div>
</section>