<section class="box-card">
   <div class="box-card__container">
      <ul class="box-card__list">
       
         <li class="box-card__item">
            <article class="product-card d-flex-column">

               <div class="product-card__top">
                  <div class="product-card__slider">

                     <!-- Slider main container -->
                     <div class="swiper slider-product-card">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper slider-product-card__wrap">
                           <!-- Slides -->
                           <div class="swiper-slide slider-product-card__slide">
                              <a class="slider-product-card__slide-link" href="#">
                                 <img class="slider-product-card__img" width="255" height="231"
                                    src="images/product-card/img1.jpg" alt="img1">
                              </a>
                           </div>
                           <div class="swiper-slide slider-product-card__slide">
                              <a class="slider-product-card__slide-link" href="#">
                                 <img class="slider-product-card__img" width="255" height="231"
                                    src="images/product-card/img1.jpg" alt="img1">
                              </a>
                           </div>
                           <div class="swiper-slide slider-product-card__slide">
                              <a class="slider-product-card__slide-link" href="#">
                                 <img class="slider-product-card__img" width="255" height="231"
                                    src="images/product-card/img1.jpg" alt="img1">
                              </a>
                           </div>
                        </div>

                        <!-- Navigation buttons -->
                        <div class="swiper-button-prev slider-btn-prev">
                           <svg class="slider-btn-prev__icon">
                              <use xlink:href="images/sprite.svg#icon-arrow-left"></use>
                           </svg>
                        </div>
                        <div class="swiper-button-next slider-btn-next">
                           <svg class="slider-btn-next__icon">
                              <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
                           </svg>
                        </div>

                     </div>
                  </div>
                  <span class="label label--red ttu product-card__label">
                     хит
                  </span>
                  <button class="btn-compare product-card__compare">
                     <svg class="btn-compare__icon" width="20" height="20">
                        <use xlink:href="images/sprite.svg#icon-compare"></use>
                     </svg>
                  </button>
               </div>
               
               <div class="product-card__body">
                  <h3 class="product-card__title">
                     <a class="product-card__title-link" href="#">
                        Kugoo Kirin M4
                     </a>
                  </h3>
                  <ul class="product-card__info-list">
                     <li class="product-card__info-item product-card__info-item--accum">
                        2000 mAh
                     </li>
                     <li class="product-card__info-item product-card__info-item--power">
                        1,2 л.с.
                     </li>
                     <li class="product-card__info-item product-card__info-item--speedometer">
                        60 км/ч
                     </li>
                     <li class="product-card__info-item product-card__info-item--timer">
                        5 часов
                     </li>
                  </ul>
               </div>

               <div class="product-card__bottom">
                  <div class="product-card__row d-flex justify-between">
                     <div class="price d-flex-column">
                        <div class="price__old">
                           39 900
                           <span class="price__currency">₽</span>
                        </div>
                        <div class="price__current">
                           29 900
                           <span class="price__currency">₽</span>
                        </div>
                     </div>
                     <div class="product-card__actions d-flex">
                        <button class="btn-cart product-card__cart">
                           <svg class="btn-cart__icon product-card__cart-icon" width="20" height="20">
                              <use xlink:href="images/sprite.svg#icon-cart-empty2"></use>
                           </svg>
                        </button>
                        <button class="btn-wishlist product-card__wishlist">
                           <svg class="btn-wishlist__icon product-card__wishlist-icon" width="20" height="20">
                              <use xlink:href="images/sprite.svg#icon-heart-empty"></use>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <a class="btn btn--primary btn--medium product-card__link" href="#">
                     Купить в 1 клик
                  </a>
               </div>

            </article>
         </li>
 
         <li class="box-card__item">
            <article class="product-card d-flex-column">

               <div class="product-card__top">
                  <div class="product-card__slider">

                     <!-- Slider main container -->
                     <div class="swiper slider-product-card">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper slider-product-card__wrap">
                           <!-- Slides -->
                           <div class="swiper-slide slider-product-card__slide">
                              <a class="slider-product-card__slide-link" href="#">
                                 <img class="slider-product-card__img" width="255" height="231"
                                    src="images/product-card/img1.jpg" alt="img1">
                              </a>
                           </div>
                           <div class="swiper-slide slider-product-card__slide">
                              <a class="slider-product-card__slide-link" href="#">
                                 <img class="slider-product-card__img" width="255" height="231"
                                    src="images/product-card/img1.jpg" alt="img1">
                              </a>
                           </div>
                           <div class="swiper-slide slider-product-card__slide">
                              <a class="slider-product-card__slide-link" href="#">
                                 <img class="slider-product-card__img" width="255" height="231"
                                    src="images/product-card/img1.jpg" alt="img1">
                              </a>
                           </div>
                        </div>

                        <!-- Navigation buttons -->
                        <div class="swiper-button-prev slider-btn-prev">
                           <svg class="slider-btn-prev__icon">
                              <use xlink:href="images/sprite.svg#icon-arrow-left"></use>
                           </svg>
                        </div>
                        <div class="swiper-button-next slider-btn-next">
                           <svg class="slider-btn-next__icon">
                              <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
                           </svg>
                        </div>

                     </div>
                  </div>
                  <span class="label label--red ttu product-card__label">
                     хит
                  </span>
                  <button class="btn-compare product-card__compare">
                     <svg class="btn-compare__icon" width="20" height="20">
                        <use xlink:href="images/sprite.svg#icon-compare"></use>
                     </svg>
                  </button>
               </div>
               
               <div class="product-card__body">
                  <h3 class="product-card__title">
                     <a class="product-card__title-link" href="#">
                        Kugoo Kirin M4
                     </a>
                  </h3>
                  <ul class="product-card__info-list">
                     <li class="product-card__info-item product-card__info-item--accum">
                        2000 mAh
                     </li>
                     <li class="product-card__info-item product-card__info-item--power">
                        1,2 л.с.
                     </li>
                     <li class="product-card__info-item product-card__info-item--speedometer">
                        60 км/ч
                     </li>
                     <li class="product-card__info-item product-card__info-item--timer">
                        5 часов
                     </li>
                  </ul>
               </div>

               <div class="product-card__bottom">
                  <div class="product-card__row d-flex justify-between">
                     <div class="price d-flex-column">
                        <div class="price__old">
                           39 900
                           <span class="price__currency">₽</span>
                        </div>
                        <div class="price__current">
                           29 900
                           <span class="price__currency">₽</span>
                        </div>
                     </div>
                     <div class="product-card__actions d-flex">
                        <button class="btn-cart product-card__cart">
                           <svg class="btn-cart__icon product-card__cart-icon" width="20" height="20">
                              <use xlink:href="images/sprite.svg#icon-cart-empty2"></use>
                           </svg>
                        </button>
                        <button class="btn-wishlist product-card__wishlist">
                           <svg class="btn-wishlist__icon product-card__wishlist-icon" width="20" height="20">
                              <use xlink:href="images/sprite.svg#icon-heart-empty"></use>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <a class="btn btn--primary btn--medium product-card__link" href="#">
                     Купить в 1 клик
                  </a>
               </div>

            </article>
         </li>
 
         <li class="box-card__item">
            <article class="product-card d-flex-column">

               <div class="product-card__top">
                  <div class="product-card__slider">

                     <!-- Slider main container -->
                     <div class="swiper slider-product-card">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper slider-product-card__wrap">
                           <!-- Slides -->
                           <div class="swiper-slide slider-product-card__slide">
                              <a class="slider-product-card__slide-link" href="#">
                                 <img class="slider-product-card__img" width="255" height="231"
                                    src="images/product-card/img1.jpg" alt="img1">
                              </a>
                           </div>
                           <div class="swiper-slide slider-product-card__slide">
                              <a class="slider-product-card__slide-link" href="#">
                                 <img class="slider-product-card__img" width="255" height="231"
                                    src="images/product-card/img1.jpg" alt="img1">
                              </a>
                           </div>
                           <div class="swiper-slide slider-product-card__slide">
                              <a class="slider-product-card__slide-link" href="#">
                                 <img class="slider-product-card__img" width="255" height="231"
                                    src="images/product-card/img1.jpg" alt="img1">
                              </a>
                           </div>
                        </div>

                        <!-- Navigation buttons -->
                        <div class="swiper-button-prev slider-btn-prev">
                           <svg class="slider-btn-prev__icon">
                              <use xlink:href="images/sprite.svg#icon-arrow-left"></use>
                           </svg>
                        </div>
                        <div class="swiper-button-next slider-btn-next">
                           <svg class="slider-btn-next__icon">
                              <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
                           </svg>
                        </div>

                     </div>
                  </div>
                  <span class="label label--red ttu product-card__label">
                     хит
                  </span>
                  <button class="btn-compare product-card__compare">
                     <svg class="btn-compare__icon" width="20" height="20">
                        <use xlink:href="images/sprite.svg#icon-compare"></use>
                     </svg>
                  </button>
               </div>
               
               <div class="product-card__body">
                  <h3 class="product-card__title">
                     <a class="product-card__title-link" href="#">
                        Kugoo Kirin M4
                     </a>
                  </h3>
                  <ul class="product-card__info-list">
                     <li class="product-card__info-item product-card__info-item--accum">
                        2000 mAh
                     </li>
                     <li class="product-card__info-item product-card__info-item--power">
                        1,2 л.с.
                     </li>
                     <li class="product-card__info-item product-card__info-item--speedometer">
                        60 км/ч
                     </li>
                     <li class="product-card__info-item product-card__info-item--timer">
                        5 часов
                     </li>
                  </ul>
               </div>

               <div class="product-card__bottom">
                  <div class="product-card__row d-flex justify-between">
                     <div class="price d-flex-column">
                        <div class="price__old">
                           39 900
                           <span class="price__currency">₽</span>
                        </div>
                        <div class="price__current">
                           29 900
                           <span class="price__currency">₽</span>
                        </div>
                     </div>
                     <div class="product-card__actions d-flex">
                        <button class="btn-cart product-card__cart">
                           <svg class="btn-cart__icon product-card__cart-icon" width="20" height="20">
                              <use xlink:href="images/sprite.svg#icon-cart-empty2"></use>
                           </svg>
                        </button>
                        <button class="btn-wishlist product-card__wishlist">
                           <svg class="btn-wishlist__icon product-card__wishlist-icon" width="20" height="20">
                              <use xlink:href="images/sprite.svg#icon-heart-empty"></use>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <a class="btn btn--primary btn--medium product-card__link" href="#">
                     Купить в 1 клик
                  </a>
               </div>

            </article>
         </li>
 
         <li class="box-card__item">
            <article class="product-card d-flex-column">

               <div class="product-card__top">
                  <div class="product-card__slider">

                     <!-- Slider main container -->
                     <div class="swiper slider-product-card">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper slider-product-card__wrap">
                           <!-- Slides -->
                           <div class="swiper-slide slider-product-card__slide">
                              <a class="slider-product-card__slide-link" href="#">
                                 <img class="slider-product-card__img" width="255" height="231"
                                    src="images/product-card/img1.jpg" alt="img1">
                              </a>
                           </div>
                           <div class="swiper-slide slider-product-card__slide">
                              <a class="slider-product-card__slide-link" href="#">
                                 <img class="slider-product-card__img" width="255" height="231"
                                    src="images/product-card/img1.jpg" alt="img1">
                              </a>
                           </div>
                           <div class="swiper-slide slider-product-card__slide">
                              <a class="slider-product-card__slide-link" href="#">
                                 <img class="slider-product-card__img" width="255" height="231"
                                    src="images/product-card/img1.jpg" alt="img1">
                              </a>
                           </div>
                        </div>

                        <!-- Navigation buttons -->
                        <div class="swiper-button-prev slider-btn-prev">
                           <svg class="slider-btn-prev__icon">
                              <use xlink:href="images/sprite.svg#icon-arrow-left"></use>
                           </svg>
                        </div>
                        <div class="swiper-button-next slider-btn-next">
                           <svg class="slider-btn-next__icon">
                              <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
                           </svg>
                        </div>

                     </div>
                  </div>
                  <span class="label label--red ttu product-card__label">
                     хит
                  </span>
                  <button class="btn-compare product-card__compare">
                     <svg class="btn-compare__icon" width="20" height="20">
                        <use xlink:href="images/sprite.svg#icon-compare"></use>
                     </svg>
                  </button>
               </div>
               
               <div class="product-card__body">
                  <h3 class="product-card__title">
                     <a class="product-card__title-link" href="#">
                        Kugoo Kirin M4
                     </a>
                  </h3>
                  <ul class="product-card__info-list">
                     <li class="product-card__info-item product-card__info-item--accum">
                        2000 mAh
                     </li>
                     <li class="product-card__info-item product-card__info-item--power">
                        1,2 л.с.
                     </li>
                     <li class="product-card__info-item product-card__info-item--speedometer">
                        60 км/ч
                     </li>
                     <li class="product-card__info-item product-card__info-item--timer">
                        5 часов
                     </li>
                  </ul>
               </div>

               <div class="product-card__bottom">
                  <div class="product-card__row d-flex justify-between">
                     <div class="price d-flex-column">
                        <div class="price__old">
                           39 900
                           <span class="price__currency">₽</span>
                        </div>
                        <div class="price__current">
                           29 900
                           <span class="price__currency">₽</span>
                        </div>
                     </div>
                     <div class="product-card__actions d-flex">
                        <button class="btn-cart product-card__cart">
                           <svg class="btn-cart__icon product-card__cart-icon" width="20" height="20">
                              <use xlink:href="images/sprite.svg#icon-cart-empty2"></use>
                           </svg>
                        </button>
                        <button class="btn-wishlist product-card__wishlist">
                           <svg class="btn-wishlist__icon product-card__wishlist-icon" width="20" height="20">
                              <use xlink:href="images/sprite.svg#icon-heart-empty"></use>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <a class="btn btn--primary btn--medium product-card__link" href="#">
                     Купить в 1 клик
                  </a>
               </div>

            </article>
         </li>
 
         <li class="box-card__item">
            <article class="product-card d-flex-column">

               <div class="product-card__top">
                  <div class="product-card__slider">

                     <!-- Slider main container -->
                     <div class="swiper slider-product-card">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper slider-product-card__wrap">
                           <!-- Slides -->
                           <div class="swiper-slide slider-product-card__slide">
                              <a class="slider-product-card__slide-link" href="#">
                                 <img class="slider-product-card__img" width="255" height="231"
                                    src="images/product-card/img1.jpg" alt="img1">
                              </a>
                           </div>
                           <div class="swiper-slide slider-product-card__slide">
                              <a class="slider-product-card__slide-link" href="#">
                                 <img class="slider-product-card__img" width="255" height="231"
                                    src="images/product-card/img1.jpg" alt="img1">
                              </a>
                           </div>
                           <div class="swiper-slide slider-product-card__slide">
                              <a class="slider-product-card__slide-link" href="#">
                                 <img class="slider-product-card__img" width="255" height="231"
                                    src="images/product-card/img1.jpg" alt="img1">
                              </a>
                           </div>
                        </div>

                        <!-- Navigation buttons -->
                        <div class="swiper-button-prev slider-btn-prev">
                           <svg class="slider-btn-prev__icon">
                              <use xlink:href="images/sprite.svg#icon-arrow-left"></use>
                           </svg>
                        </div>
                        <div class="swiper-button-next slider-btn-next">
                           <svg class="slider-btn-next__icon">
                              <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
                           </svg>
                        </div>

                     </div>
                  </div>
                  <span class="label label--red ttu product-card__label">
                     хит
                  </span>
                  <button class="btn-compare product-card__compare">
                     <svg class="btn-compare__icon" width="20" height="20">
                        <use xlink:href="images/sprite.svg#icon-compare"></use>
                     </svg>
                  </button>
               </div>
               
               <div class="product-card__body">
                  <h3 class="product-card__title">
                     <a class="product-card__title-link" href="#">
                        Kugoo Kirin M4
                     </a>
                  </h3>
                  <ul class="product-card__info-list">
                     <li class="product-card__info-item product-card__info-item--accum">
                        2000 mAh
                     </li>
                     <li class="product-card__info-item product-card__info-item--power">
                        1,2 л.с.
                     </li>
                     <li class="product-card__info-item product-card__info-item--speedometer">
                        60 км/ч
                     </li>
                     <li class="product-card__info-item product-card__info-item--timer">
                        5 часов
                     </li>
                  </ul>
               </div>

               <div class="product-card__bottom">
                  <div class="product-card__row d-flex justify-between">
                     <div class="price d-flex-column">
                        <div class="price__old">
                           39 900
                           <span class="price__currency">₽</span>
                        </div>
                        <div class="price__current">
                           29 900
                           <span class="price__currency">₽</span>
                        </div>
                     </div>
                     <div class="product-card__actions d-flex">
                        <button class="btn-cart product-card__cart">
                           <svg class="btn-cart__icon product-card__cart-icon" width="20" height="20">
                              <use xlink:href="images/sprite.svg#icon-cart-empty2"></use>
                           </svg>
                        </button>
                        <button class="btn-wishlist product-card__wishlist">
                           <svg class="btn-wishlist__icon product-card__wishlist-icon" width="20" height="20">
                              <use xlink:href="images/sprite.svg#icon-heart-empty"></use>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <a class="btn btn--primary btn--medium product-card__link" href="#">
                     Купить в 1 клик
                  </a>
               </div>

            </article>
         </li>
 
         <li class="box-card__item">
            <article class="product-card d-flex-column">

               <div class="product-card__top">
                  <div class="product-card__slider">

                     <!-- Slider main container -->
                     <div class="swiper slider-product-card">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper slider-product-card__wrap">
                           <!-- Slides -->
                           <div class="swiper-slide slider-product-card__slide">
                              <a class="slider-product-card__slide-link" href="#">
                                 <img class="slider-product-card__img" width="255" height="231"
                                    src="images/product-card/img1.jpg" alt="img1">
                              </a>
                           </div>
                           <div class="swiper-slide slider-product-card__slide">
                              <a class="slider-product-card__slide-link" href="#">
                                 <img class="slider-product-card__img" width="255" height="231"
                                    src="images/product-card/img1.jpg" alt="img1">
                              </a>
                           </div>
                           <div class="swiper-slide slider-product-card__slide">
                              <a class="slider-product-card__slide-link" href="#">
                                 <img class="slider-product-card__img" width="255" height="231"
                                    src="images/product-card/img1.jpg" alt="img1">
                              </a>
                           </div>
                        </div>

                        <!-- Navigation buttons -->
                        <div class="swiper-button-prev slider-btn-prev">
                           <svg class="slider-btn-prev__icon">
                              <use xlink:href="images/sprite.svg#icon-arrow-left"></use>
                           </svg>
                        </div>
                        <div class="swiper-button-next slider-btn-next">
                           <svg class="slider-btn-next__icon">
                              <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
                           </svg>
                        </div>

                     </div>
                  </div>
                  <span class="label label--red ttu product-card__label">
                     хит
                  </span>
                  <button class="btn-compare product-card__compare">
                     <svg class="btn-compare__icon" width="20" height="20">
                        <use xlink:href="images/sprite.svg#icon-compare"></use>
                     </svg>
                  </button>
               </div>
               
               <div class="product-card__body">
                  <h3 class="product-card__title">
                     <a class="product-card__title-link" href="#">
                        Kugoo Kirin M4
                     </a>
                  </h3>
                  <ul class="product-card__info-list">
                     <li class="product-card__info-item product-card__info-item--accum">
                        2000 mAh
                     </li>
                     <li class="product-card__info-item product-card__info-item--power">
                        1,2 л.с.
                     </li>
                     <li class="product-card__info-item product-card__info-item--speedometer">
                        60 км/ч
                     </li>
                     <li class="product-card__info-item product-card__info-item--timer">
                        5 часов
                     </li>
                  </ul>
               </div>

               <div class="product-card__bottom">
                  <div class="product-card__row d-flex justify-between">
                     <div class="price d-flex-column">
                        <div class="price__old">
                           39 900
                           <span class="price__currency">₽</span>
                        </div>
                        <div class="price__current">
                           29 900
                           <span class="price__currency">₽</span>
                        </div>
                     </div>
                     <div class="product-card__actions d-flex">
                        <button class="btn-cart product-card__cart">
                           <svg class="btn-cart__icon product-card__cart-icon" width="20" height="20">
                              <use xlink:href="images/sprite.svg#icon-cart-empty2"></use>
                           </svg>
                        </button>
                        <button class="btn-wishlist product-card__wishlist">
                           <svg class="btn-wishlist__icon product-card__wishlist-icon" width="20" height="20">
                              <use xlink:href="images/sprite.svg#icon-heart-empty"></use>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <a class="btn btn--primary btn--medium product-card__link" href="#">
                     Купить в 1 клик
                  </a>
               </div>

            </article>
         </li>
 
         <li class="box-card__item">
            <article class="product-card d-flex-column">

               <div class="product-card__top">
                  <div class="product-card__slider">

                     <!-- Slider main container -->
                     <div class="swiper slider-product-card">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper slider-product-card__wrap">
                           <!-- Slides -->
                           <div class="swiper-slide slider-product-card__slide">
                              <a class="slider-product-card__slide-link" href="#">
                                 <img class="slider-product-card__img" width="255" height="231"
                                    src="images/product-card/img1.jpg" alt="img1">
                              </a>
                           </div>
                           <div class="swiper-slide slider-product-card__slide">
                              <a class="slider-product-card__slide-link" href="#">
                                 <img class="slider-product-card__img" width="255" height="231"
                                    src="images/product-card/img1.jpg" alt="img1">
                              </a>
                           </div>
                           <div class="swiper-slide slider-product-card__slide">
                              <a class="slider-product-card__slide-link" href="#">
                                 <img class="slider-product-card__img" width="255" height="231"
                                    src="images/product-card/img1.jpg" alt="img1">
                              </a>
                           </div>
                        </div>

                        <!-- Navigation buttons -->
                        <div class="swiper-button-prev slider-btn-prev">
                           <svg class="slider-btn-prev__icon">
                              <use xlink:href="images/sprite.svg#icon-arrow-left"></use>
                           </svg>
                        </div>
                        <div class="swiper-button-next slider-btn-next">
                           <svg class="slider-btn-next__icon">
                              <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
                           </svg>
                        </div>

                     </div>
                  </div>
                  <span class="label label--red ttu product-card__label">
                     хит
                  </span>
                  <button class="btn-compare product-card__compare">
                     <svg class="btn-compare__icon" width="20" height="20">
                        <use xlink:href="images/sprite.svg#icon-compare"></use>
                     </svg>
                  </button>
               </div>
               
               <div class="product-card__body">
                  <h3 class="product-card__title">
                     <a class="product-card__title-link" href="#">
                        Kugoo Kirin M4
                     </a>
                  </h3>
                  <ul class="product-card__info-list">
                     <li class="product-card__info-item product-card__info-item--accum">
                        2000 mAh
                     </li>
                     <li class="product-card__info-item product-card__info-item--power">
                        1,2 л.с.
                     </li>
                     <li class="product-card__info-item product-card__info-item--speedometer">
                        60 км/ч
                     </li>
                     <li class="product-card__info-item product-card__info-item--timer">
                        5 часов
                     </li>
                  </ul>
               </div>

               <div class="product-card__bottom">
                  <div class="product-card__row d-flex justify-between">
                     <div class="price d-flex-column">
                        <div class="price__old">
                           39 900
                           <span class="price__currency">₽</span>
                        </div>
                        <div class="price__current">
                           29 900
                           <span class="price__currency">₽</span>
                        </div>
                     </div>
                     <div class="product-card__actions d-flex">
                        <button class="btn-cart product-card__cart">
                           <svg class="btn-cart__icon product-card__cart-icon" width="20" height="20">
                              <use xlink:href="images/sprite.svg#icon-cart-empty2"></use>
                           </svg>
                        </button>
                        <button class="btn-wishlist product-card__wishlist">
                           <svg class="btn-wishlist__icon product-card__wishlist-icon" width="20" height="20">
                              <use xlink:href="images/sprite.svg#icon-heart-empty"></use>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <a class="btn btn--primary btn--medium product-card__link" href="#">
                     Купить в 1 клик
                  </a>
               </div>

            </article>
         </li>
 
         <li class="box-card__item">
            <article class="product-card d-flex-column">

               <div class="product-card__top">
                  <div class="product-card__slider">

                     <!-- Slider main container -->
                     <div class="swiper slider-product-card">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper slider-product-card__wrap">
                           <!-- Slides -->
                           <div class="swiper-slide slider-product-card__slide">
                              <a class="slider-product-card__slide-link" href="#">
                                 <img class="slider-product-card__img" width="255" height="231"
                                    src="images/product-card/img1.jpg" alt="img1">
                              </a>
                           </div>
                           <div class="swiper-slide slider-product-card__slide">
                              <a class="slider-product-card__slide-link" href="#">
                                 <img class="slider-product-card__img" width="255" height="231"
                                    src="images/product-card/img1.jpg" alt="img1">
                              </a>
                           </div>
                           <div class="swiper-slide slider-product-card__slide">
                              <a class="slider-product-card__slide-link" href="#">
                                 <img class="slider-product-card__img" width="255" height="231"
                                    src="images/product-card/img1.jpg" alt="img1">
                              </a>
                           </div>
                        </div>

                        <!-- Navigation buttons -->
                        <div class="swiper-button-prev slider-btn-prev">
                           <svg class="slider-btn-prev__icon">
                              <use xlink:href="images/sprite.svg#icon-arrow-left"></use>
                           </svg>
                        </div>
                        <div class="swiper-button-next slider-btn-next">
                           <svg class="slider-btn-next__icon">
                              <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
                           </svg>
                        </div>

                     </div>
                  </div>
                  <span class="label label--red ttu product-card__label">
                     хит
                  </span>
                  <button class="btn-compare product-card__compare">
                     <svg class="btn-compare__icon" width="20" height="20">
                        <use xlink:href="images/sprite.svg#icon-compare"></use>
                     </svg>
                  </button>
               </div>
               
               <div class="product-card__body">
                  <h3 class="product-card__title">
                     <a class="product-card__title-link" href="#">
                        Kugoo Kirin M4
                     </a>
                  </h3>
                  <ul class="product-card__info-list">
                     <li class="product-card__info-item product-card__info-item--accum">
                        2000 mAh
                     </li>
                     <li class="product-card__info-item product-card__info-item--power">
                        1,2 л.с.
                     </li>
                     <li class="product-card__info-item product-card__info-item--speedometer">
                        60 км/ч
                     </li>
                     <li class="product-card__info-item product-card__info-item--timer">
                        5 часов
                     </li>
                  </ul>
               </div>

               <div class="product-card__bottom">
                  <div class="product-card__row d-flex justify-between">
                     <div class="price d-flex-column">
                        <div class="price__old">
                           39 900
                           <span class="price__currency">₽</span>
                        </div>
                        <div class="price__current">
                           29 900
                           <span class="price__currency">₽</span>
                        </div>
                     </div>
                     <div class="product-card__actions d-flex">
                        <button class="btn-cart product-card__cart">
                           <svg class="btn-cart__icon product-card__cart-icon" width="20" height="20">
                              <use xlink:href="images/sprite.svg#icon-cart-empty2"></use>
                           </svg>
                        </button>
                        <button class="btn-wishlist product-card__wishlist">
                           <svg class="btn-wishlist__icon product-card__wishlist-icon" width="20" height="20">
                              <use xlink:href="images/sprite.svg#icon-heart-empty"></use>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <a class="btn btn--primary btn--medium product-card__link" href="#">
                     Купить в 1 клик
                  </a>
               </div>

            </article>
         </li>
 
         <li class="box-card__item">
            <article class="product-card d-flex-column">

               <div class="product-card__top">
                  <div class="product-card__slider">

                     <!-- Slider main container -->
                     <div class="swiper slider-product-card">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper slider-product-card__wrap">
                           <!-- Slides -->
                           <div class="swiper-slide slider-product-card__slide">
                              <a class="slider-product-card__slide-link" href="#">
                                 <img class="slider-product-card__img" width="255" height="231"
                                    src="images/product-card/img1.jpg" alt="img1">
                              </a>
                           </div>
                           <div class="swiper-slide slider-product-card__slide">
                              <a class="slider-product-card__slide-link" href="#">
                                 <img class="slider-product-card__img" width="255" height="231"
                                    src="images/product-card/img1.jpg" alt="img1">
                              </a>
                           </div>
                           <div class="swiper-slide slider-product-card__slide">
                              <a class="slider-product-card__slide-link" href="#">
                                 <img class="slider-product-card__img" width="255" height="231"
                                    src="images/product-card/img1.jpg" alt="img1">
                              </a>
                           </div>
                        </div>

                        <!-- Navigation buttons -->
                        <div class="swiper-button-prev slider-btn-prev">
                           <svg class="slider-btn-prev__icon">
                              <use xlink:href="images/sprite.svg#icon-arrow-left"></use>
                           </svg>
                        </div>
                        <div class="swiper-button-next slider-btn-next">
                           <svg class="slider-btn-next__icon">
                              <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
                           </svg>
                        </div>

                     </div>
                  </div>
                  <span class="label label--red ttu product-card__label">
                     хит
                  </span>
                  <button class="btn-compare product-card__compare">
                     <svg class="btn-compare__icon" width="20" height="20">
                        <use xlink:href="images/sprite.svg#icon-compare"></use>
                     </svg>
                  </button>
               </div>
               
               <div class="product-card__body">
                  <h3 class="product-card__title">
                     <a class="product-card__title-link" href="#">
                        Kugoo Kirin M4
                     </a>
                  </h3>
                  <ul class="product-card__info-list">
                     <li class="product-card__info-item product-card__info-item--accum">
                        2000 mAh
                     </li>
                     <li class="product-card__info-item product-card__info-item--power">
                        1,2 л.с.
                     </li>
                     <li class="product-card__info-item product-card__info-item--speedometer">
                        60 км/ч
                     </li>
                     <li class="product-card__info-item product-card__info-item--timer">
                        5 часов
                     </li>
                  </ul>
               </div>

               <div class="product-card__bottom">
                  <div class="product-card__row d-flex justify-between">
                     <div class="price d-flex-column">
                        <div class="price__old">
                           39 900
                           <span class="price__currency">₽</span>
                        </div>
                        <div class="price__current">
                           29 900
                           <span class="price__currency">₽</span>
                        </div>
                     </div>
                     <div class="product-card__actions d-flex">
                        <button class="btn-cart product-card__cart">
                           <svg class="btn-cart__icon product-card__cart-icon" width="20" height="20">
                              <use xlink:href="images/sprite.svg#icon-cart-empty2"></use>
                           </svg>
                        </button>
                        <button class="btn-wishlist product-card__wishlist">
                           <svg class="btn-wishlist__icon product-card__wishlist-icon" width="20" height="20">
                              <use xlink:href="images/sprite.svg#icon-heart-empty"></use>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <a class="btn btn--primary btn--medium product-card__link" href="#">
                     Купить в 1 клик
                  </a>
               </div>

            </article>
         </li>
 
      </ul>
   </div>
</section>