.faq {
   &__title {
      max-width: 460px;
      text-align: center;
      margin: 0 auto 60px;
   }
}
.accordion {
   &__list {
      max-width: 730px;
      margin: 0 auto;
   }
   &__item {
      border-bottom: 1px solid $gray-200;

      &.open {
         .accordion__content {
            opacity: 1;
         }
         .accordion__icon {
            transform: rotate(45deg);
         }
      }
   }

   &__control {
      @include flex-between-center;
      width: 100%;
      cursor: pointer;

      @include hover {
         .accordion__title {
            color: $accent;
         }
         .accordion__icon {
            fill: $accent;
         }
      }
      &:active {
         .accordion__title {
            opacity: 0.7;
         }
      }
   }

   &__title {
      max-width: 90%;
      text-align: left;
      padding: 25px 0;
      transition:
         color $transition,
         opacity $transition;
   }

   &__icon {
      fill: $black;
      transition:
         fill $transition,
         transform $transition,
         opacity $transition;
   }

   &__content {
      max-height: 0;
      will-change: max-height;
      opacity: 0;
      max-width: 90%;
      box-sizing: content-box;
      overflow: hidden;
      transition:
         max-height $transition,
         opacity $transition,
         will-change $transition;
   }

   &__content p {
      margin-bottom: 24px;
   }
}
