.hero {
   &__top {
      color: $white;
      margin: 30px 30px 40px;
      border-radius: 10px;
      background: radial-gradient(544.32% 83.35% at 75.14% 62.23%, #a6a9ff 0%, #6f73ee 100%);
   }

   &__inner {
      display: flex;
   }

   &__content {
      min-height: 288px;
      position: relative;
      width: 58%;
      padding: 40px 0 103px;
      z-index: 2;
   }

   &__label {
      display: inline-block;
      padding: 4px 10px;
      border-radius: 5px;
      border: 1px solid $white;
      margin-bottom: 35px;
   }

   &__title {
      margin-bottom: 7px;
   }
   &__descr {
      @include adaptiv-font(20, 10);
      margin-bottom: 25px;
   }
   &__link {
   }

   &__img-wrap {
      position: relative;
      width: 538px;
   }

   &__img,
   &__decor-1,
   &__decor-2 {
      position: absolute;
   }

   &__img,
   &__decor-1 {
      right: 0;
      bottom: 0;
   }

   &__img {
      object-fit: contain;
      object-position: right bottom;
      z-index: 2;
   }

   &__decor-1 {
      z-index: 1;
   }

   &__decor-2 {
      left: -175px;
      bottom: 100px;
      z-index: 3;
   }

   &__bottom {
   }

   &__bottom-inner {
      @include flex-between-center;
   }

   &__benefits {
      @include flex-between-center;
      flex-wrap: wrap;
      gap: 10px;
      width: 70%;
   }

   &__benefits-item {
      font-size: 16px;
   }
}

.hero-slider {
   &__wrapper {
   }
   &__container {
      position: relative;
   }

   &__slide {
      @include img-bg;
      border-radius: 10px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 100% 0;
   }

   &__pagination {
      position: absolute;
      left: 60px;
      bottom: 31px;
      font-size: 16px;
      color: $white;
      z-index: 2;
   }

   &__prev,
   &__next {
      @include center;
      background-color: transparent;
      position: absolute;
      bottom: 30px;
      width: 26px;
      height: 26px;
      border: 1px solid $white-rgb-20;
      border-radius: 100%;
      cursor: pointer;
      z-index: 2;
      transition: border $transition;

      @include hover {
         border: 1px solid $white;
      }

      &:active {
         border: 1px solid $white-rgb-50;
         .hero-slider__prev-icon,
         .hero-slider__next-icon {
            opacity: 0.5;
         }
      }
   }

   &__prev {
      left: 0;
   }

   &__prev-icon,
   &__next-icon {
      fill: $white;
      transition: opacity $transition;
   }

   &__next {
      left: 130px;
   }
}


.yandex-reviews {
   @include flex-center;
   gap: 20px;
   width: 190px;
   height: 76px;
   border-radius: 5px;
   border: 1px solid $gray-600-rgb-10;
   background-color: $white;
   padding: 10px;

   &__logo {
      position: relative;
      width: 56px;
      height: 56px;
      border-radius: 5px;
      background-color: #fc3f1d;

      &::before {
         @include pseudo;
         @include img-bg;
         @include absol-center;
         background-image: url("../images/icons/icon-yandex.svg");
         width: 19px;
         height: 29px;
      }
   }

   &__content {
   }

   &__title {
      font-size: 12px;
      color: $gray-600;
      font-weight: inherit;
   }

   &__rating {
      position: relative;
      font-size: 25px;
      font-weight: 600;
      padding-left: 20px;

      &::before {
         @include pseudo;
         @include img-bg;
         background-image: url("../images/icons/icon-star.svg");
         width: 14px;
         height: 14px;
         left: 0;
         top: 50%;
         transform: translateY(-50%);
      }
   }
}
