<footer class="footer">
   <div class="subscribe">
      <div class="subscribe__container container">
         <h3 class="subscribe__title title-lg">
            Оставьте свою почту и станьте первым, кто получит скидку на новые самокаты
         </h3>
         <form class="subscribe__form">
            <labe class="subscribe__label">
               <input class="subscribe__input input-second" type="email" placeholder="Введите Ваш email" required>
            </labe>
            <button class="btn btn--secondary-2">
               Подписаться
            </button>
         </form>
      </div>
   </div>

   <div class="container">
      <div class="footer__head">
         <div class="footer__head-left">
            <nav class="footer__catalog">
               <h3 class="footer__catalog-title title-md">
                  Каталог товаров
               </h3>
               <ul class="footer__catalog-list">
                  <li class="footer__catalog-item">
                     <a class="footer__catalog-link hover" href="#" target="_blank">
                        Электросамокаты
                     </a>
                  </li>
                  <li class="footer__catalog-item">
                     <a class="footer__catalog-link hover" href="#" target="_blank">
                        Электроскутеры
                     </a>
                  </li>
                  <li class="footer__catalog-item">
                     <a class="footer__catalog-link hover" href="#" target="_blank">
                        Электровелосипеды
                     </a>
                  </li>
                  <li class="footer__catalog-item">
                     <a class="footer__catalog-link hover" href="#" target="_blank">
                        Робот-пылесосы
                     </a>
                  </li>
                  <li class="footer__catalog-item">
                     <a class="footer__catalog-link hover" href="#" target="_blank">
                        Весы
                     </a>
                  </li>
               </ul>
            </nav>
            <nav class="footer__menu">
               <h3 class="footer__menu-title title-md">
                  Покупателям
               </h3>
               <ul class="footer__menu-list">
                  <li class="footer__menu-item">
                     <a class="footer__menu-link hover" href="#" target="_blank">
                        Сервисный центр
                     </a>
                  </li>
                  <li class="footer__menu-item">
                     <a class="footer__menu-link hover" href="#" target="_blank">
                        Доставка и оплата
                     </a>
                  </li>
                  <li class="footer__menu-item">
                     <a class="footer__menu-link hover" href="#" target="_blank">
                        Рассрочка
                     </a>
                  </li>
                  <li class="footer__menu-item">
                     <a class="footer__menu-link hover" href="#" target="_blank">
                        Тест-драйв
                     </a>
                  </li>
                  <li class="footer__menu-item">
                     <a class="footer__menu-link hover" href="#" target="_blank">
                        Блог
                     </a>
                  </li>
                  <li class="footer__menu-item">
                     <a class="footer__menu-link hover" href="#" target="_blank">
                        Сотрудничество
                     </a>
                  </li>
                  <li class="footer__menu-item">
                     <a class="footer__menu-link hover" href="#" target="_blank">
                        Контакты
                     </a>
                  </li>
                  <li class="footer__menu-item">
                     <a class="footer__menu-link hover" href="#" target="_blank">
                        Акции
                     </a>
                  </li>
               </ul>
            </nav>
         </div>

         <address class="footer__contacts contacts">
            <div class="contacts__top">
               <h3 class="title-md">
                  Контакты
               </h3>
               <button class="contacts__btn hover">
                  Заказать звонок
               </button>
            </div>
            <ul class="contacts__phones-list">
               <li class="contacts__phones-item">
                  <h4 class="contacts__phones-title">
                     Call-центр
                  </h4>
                  <a class="contacts__phones-link hover" href="tel:78005055461">+7 (800) 505-54-61</a>
                  <div class="contacts__hour-work">
                     Пн-Вс 10:00 - 20:00
                  </div>
               </li>
               <li class="contacts__phones-item">
                  <h4 class="contacts__phones-title">
                     Сервисный центр
                  </h4>
                  <a class="contacts__phones-link hover" href="tel:78005055461">+7 (800) 505-54-61</a>
                  <div class="contacts__hour-work">
                     Пн-Вс 10:00 - 20:00
                  </div>
               </li>
            </ul>
            <ul class="contacts__address-list">
               <li class="contacts__address-item">
                  <a class="contacts__address-link hover" href="https://maps.app.goo.gl/7iN1amDT13PuUgjD8"
                     target="_blank">Магазин в Москве
                     ул. Ткацкая, 5 стр. 16</a>
                  <a class="contacts__address-phone hover" href="tel:+74994061587">
                     +7 (499) 406 15 87
                  </a>
               </li>
               <li class="contacts__address-item">
                  <a class="contacts__address-link hover" href="https://maps.app.goo.gl/7iN1amDT13PuUgjD8"
                     target="_blank">Магазин в Санкт-Петербурге ул. Фрунзе, 2</a>
                  <a class="contacts__address-phone hover" href="tel:+74994060011">
                     +7 (499) 406 00 11
                  </a>
               </li>
               <li class="contacts__address-item">
                  <a class="contacts__address-link hover" href="https://maps.app.goo.gl/7iN1amDT13PuUgjD8"
                     target="_blank">Магазин в Краснодаре
                     ул. Восточно-Кругликовская, 86</a>
                  <a class="contacts__address-phone hover" href="tel:+74994061234">
                     +7 (499) 406 12 34
                  </a>
               </li>
            </ul>

         </address>
      </div>

      <div class="footer__body">
         <a class="footer__logo logo hover-opacity" href="#" title="KUGOO - интернет магазин електро самокатов">
            <img class="logo__img" src="images/logo.svg" width="115" height="40" alt="logo Kugoo">
         </a>

         <div class="footer__app app">
            <a class="app__link hover-opacity" href="#" target="_blank">
               <img class="app__img" src="images/app/google-play.png" alt="google play">
            </a>
            <a class="app__link hover-opacity" href="#" target="_blank">
               <img class="app__img" src="images/app/app-store.png" alt="app store">
            </a>
         </div>

         <div class="footer__social social">
            <ul class="social__list">
               <li class="social__item">
                  <a class="social__link social__link--vk hover-opacity" href="#" target="_blank">
                     Вконтакте
                     <div class="social__quantity">
                        3300
                     </div>
                  </a>
               </li>
               <li class="social__item">
                  <a class="social__link social__link--instagram hover-opacity" href="#" target="_blank">
                     Instagram
                     <div class="social__quantity">
                        10602
                     </div>
                  </a>
               </li>
               <li class="social__item">
                  <a class="social__link social__link--youtube hover-opacity" href="#" target="_blank">
                     YouTube
                     <div class="social__quantity">
                        3603
                     </div>
                  </a>
               </li>
               <li class="social__item">
                  <a class="social__link social__link--telegram hover-opacity" href="#" target="_blank">
                     Telegram
                     <div class="social__quantity">
                        432
                     </div>
                  </a>
               </li>
            </ul>
         </div>
      </div>

      <div class="footer__foot">
         <ul class="footer__foot-list">
            <li class="footer__foot-item">
               <a class="footer__foot-link hover-underline" href="#" target="_blank">
                  Реквизиты
               </a>
            </li>
            <li class="footer__foot-item">
               <a class="footer__foot-link hover-underline" href="#" target="_blank">
                  Политика конфиденциальности
               </a>
            </li>
         </ul>

         <ul class="footer__payment">
            <li class="footer__payment-item">
               <img class="footer__payment-img" src="images/payment/google-pay.png" width="24" height="10"
                  alt="google pay">
            </li>
            <li class="footer__payment-item">
               <img class="footer__payment-img" src="images/payment/apple-pay.png" width="24" height="10"
                  alt="apple pay">
            </li>
            <li class="footer__payment-item">
               <img class="footer__payment-img" src="images/payment/visa.png" width="24" height="8" alt="visa">
            </li>
            <li class="footer__payment-item">
               <img class="footer__payment-img" src="images/payment/mastercard.png" width="22" height="13"
                  alt="mastercard">
            </li>
            <li class="footer__payment-item">
               <img class="footer__payment-img" src="images/payment/maestro.png" width="24" height="13" alt="maestro">
            </li>
            <li class="footer__payment-item">
               <img class="footer__payment-img" src="images/payment/webmoney.png" width="24" height="15" alt="webmoney">
            </li>
            <li class="footer__payment-item">
               <img class="footer__payment-img" src="images/payment/qiwi.png" width="15" height="15" alt="qiwi">
            </li>
         </ul>

         <div class="footer__online-chat online-chat">
            Online чат:
            <ul class="online-chat__list">
               <li class="online-chat__item">
                  <a class="online-chat__link" href="#" target="_blank" title="viber">
                     <svg class="online-chat__icon online-chat__icon--viber" width="12" height="12">
                        <use xlink:href="images/sprite.svg#icon-viber"></use>
                     </svg>
                  </a>
               </li>
               <li class="online-chat__item">
                  <a class="online-chat__link" href="#" target="_blank" title="whatsapp">
                     <svg class="online-chat__icon online-chat__icon--whatsapp" width="12" height="12">
                        <use xlink:href="images/sprite.svg#whatsapp"></use>
                     </svg>
                  </a>
               </li>
               <li class="online-chat__item">
                  <a class="online-chat__link" href="#" target="_blank" title="telegram">
                     <svg class="online-chat__icon online-chat__icon--telegram" width="12" height="12">
                        <use xlink:href="images/sprite.svg#icon-telegram"></use>
                     </svg>
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>

</footer>