.buy-often {
   &__title {
      margin-bottom: 60px;
   }

   &__list {
      display: flex;
      flex-direction: row;
      gap: 30px;
      overflow-x: auto;
      padding-bottom: 10px;
   }

   &__item {
      max-width: 255px;
   }

   &__scrollbar {
      
      &::-webkit-scrollbar {
         height: 5px;
         background-color: #f9f9fd;
      }

      &::-webkit-scrollbar-thumb {
         border-radius: 10px;
         background-color: $gray-600;
      }

      &::-webkit-scrollbar-track {
         -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
         border-radius: 10px;
         background-color: #f9f9fd;
      }
   }
}
