<header class="header">
   <div class="container header__container flex">

      <a class="logo" href="#">
         <img class="logo__img" src="images/logo.svg" width="150" height="40" alt="logo">
      </a>

      <nav class="menu">
         <ul class="menu__list flex">
            <li class="menu__item">
               <a class="menu__link menu__link--active" href="#home">
                  Home
               </a>
            </li>
            <li class="menu__item">
               <a class="menu__link" href="#about">
                  About
               </a>
            </li>
            <li class="menu__item">
               <a class="menu__link" href="#service">
                  Service
               </a>
            </li>
            <li class="menu__item">
               <a class="menu__link" href="#contacts">
                  Contacts
               </a>
            </li>
         </ul>
      </nav>

      <a class="header__link" href="#">
         login
      </a>

      <!-- @include('../_burger/_burger.html') -->

      @include('../_burger-2/_burger-2.html')




   </div>
</header>