<header class="header">
   <div class="header__top">
      <div class="header__top-container container">
         <nav class="header__top-menu header-top-menu">
            <ul class="header-top-menu__list">
               <li class="header-top-menu__item">
                  <a class="header-top-menu__link hover-underline" href="#" target="_blank">Сервис</a>
               </li>
               <li class="header-top-menu__item">
                  <a class="header-top-menu__link hover-underline" href="#" target="_blank">Сотрудничество</a>
               </li>
               <li class="header-top-menu__item">
                  <button class="header-top-menu__btn hover-underline" type="button">Заказать звонок</button>
               </li>
            </ul>
         </nav>
         <div class="online-chat">
            <ul class="online-chat__list">
               <li class="online-chat__item">
                  <a class="online-chat__link" href="#" target="_blank" title="viber">
                     <svg class="online-chat__icon online-chat__icon--viber" width="12" height="12">
                        <use xlink:href="images/sprite.svg#icon-viber"></use>
                     </svg>
                  </a>
               </li>
               <li class="online-chat__item">
                  <a class="online-chat__link" href="#" target="_blank" title="whatsapp">
                     <svg class="online-chat__icon online-chat__icon--whatsapp" width="12" height="12">
                        <use xlink:href="images/sprite.svg#whatsapp"></use>
                     </svg>
                  </a>
               </li>
               <li class="online-chat__item">
                  <a class="online-chat__link" href="#" target="_blank" title="telegram">
                     <svg class="online-chat__icon online-chat__icon--telegram" width="12" height="12">
                        <use xlink:href="images/sprite.svg#icon-telegram"></use>
                     </svg>
                  </a>
               </li>
            </ul>
         </div>
         <div class="header-contacts">
            <a class="hover-underline header-contacts__link" href="tel:78005055461">+7 (800) 505-54-61</a>

            <button class="header-contacts__btn" data-path="modal-contacts" title="список контактов">
               <svg class="header-contacts__btn-icon" width="10" height="10">
                  <use xlink:href="images/sprite.svg#icon-plus"></use>
               </svg>
            </button>

            <!-- here modal contacts -->
            <div class="modal-contacts" data-target="modal-contacts">
               <ul class="modal-contacts__list">
                  <li class="modal-contacts__item">
                     <a class="modal-contacts__link" href="tel:74993507692">
                        <h4 class="modal-contacts__title">
                           Сервисный центр
                        </h4>
                        <span class="modal-contacts__phone">
                           + 7 (499) 350 76 92
                        </span>
                        <div class="modal-contacts__hour-work">
                           пн-сб 10:00 - 19:00
                        </div>
                     </a>
                  </li>
                  <li class="modal-contacts__item">
                     <a class="modal-contacts__link" href="tel:74992816452">
                        <h4 class="modal-contacts__title">
                           Оптовый отдел
                        </h4>
                        <span class="modal-contacts__phone">
                           +7 (499) 281-64-52
                        </span>
                        <div class="modal-contacts__hour-work">
                           пн-сб 10:00 - 19:00
                        </div>
                     </a>
                  </li>
                  <li class="modal-contacts__item">
                     <a class="modal-contacts__link" href="tel:74993507692">
                        <h4 class="modal-contacts__title">
                           Сервисный центр
                        </h4>
                        <span class="modal-contacts__phone">
                           +7 (499) 350-76-92
                        </span>
                        <div class="modal-contacts__hour-work">
                           ср-вс с 10:00 до 19:00
                        </div>
                     </a>
                  </li>
               </ul>
               <button class="modal-contacts__close" type="button" title="Закрыть">
                  <svg class="modal-contacts__close-icon" width="18" height="18">
                     <use xlink:href="images/sprite.svg#icon-close"></use>
                  </svg>
               </button>
            </div>

         </div>
      </div>
   </div>

   <div class="header__middle">
      <div class="container header__middle-container">
         <a class="header__logo logo hover-opacity" href="#" title="KUGOO - интернет магазин електро самокатов">
            <img class="logo__img" src="images/logo.svg" width="115" height="40" alt="logo Kugoo">
         </a>

         <div class="header__catalog">
            <button class="btn btn--primary header__catalog-btn">
               Каталог
            </button>
            <div class="catalog">
               <ul class="catalog__list">
                  <li class="catalog__item catalog__item--active">
                     <svg class="catalog__item-icon" width="16" height="16">
                        <use xlink:href="images/sprite.svg#icon-electric-scooter"></use>
                     </svg>
                     Электросамокаты
                  </li>
                  <li class="catalog__item">
                     <svg class="catalog__item-icon" width="16" height="16">
                        <use xlink:href="images/sprite.svg#icon-scooter"></use>
                     </svg>
                     Электроскутеры
                  </li>
                  <li class="catalog__item">
                     <svg class="catalog__item-icon" width="16" height="16">
                        <use xlink:href="images/sprite.svg#icon-electric-bike"></use>
                     </svg>
                     Электровелосипеды
                  </li>
                  <li class="catalog__item">
                     <svg class="catalog__item-icon" width="16" height="16">
                        <use xlink:href="images/sprite.svg#icon-vacuum-cleaner"></use>
                     </svg>
                     Робот-пылесосы
                  </li>
                  <li class="catalog__item">
                     <svg class="catalog__item-icon" width="16" height="16">
                        <use xlink:href="images/sprite.svg#icon-weighing-scale"></use>
                     </svg>
                     Весы
                  </li>
               </ul>
               <div class="catalog__content sub-catalog">
                  <div class="sub-catalog__col">
                     <h3 class="sub-catalog__title">
                        Особенности
                     </h3>
                     <ul class="sub-catalog__list">
                        <li class="sub-catalog__item">
                           <a class="sub-catalog__link" href="#" target="_blank">
                              Внедорожный
                           </a>
                        </li>
                        <li class="sub-catalog__item">
                           <a class="sub-catalog__link" href="#" target="_blank">
                              Городской
                           </a>
                        </li>
                        <li class="sub-catalog__item">
                           <a class="sub-catalog__link" href="#" target="_blank">
                              Зимний
                           </a>
                        </li>
                        <li class="sub-catalog__item">
                           <a class="sub-catalog__link" href="#" target="_blank">
                              С сиденьем
                           </a>
                        </li>
                        <li class="sub-catalog__item">
                           <a class="sub-catalog__link" href="#" target="_blank">
                              Без сиденья
                           </a>
                        </li>
                     </ul>
                  </div>
                  <div class="sub-catalog__col">
                     <h3 class="sub-catalog__title">
                        Для кого
                     </h3>
                     <ul class="sub-catalog__list">
                        <li class="sub-catalog__item">
                           <a class="sub-catalog__link" href="#" target="_blank">
                              Для детей и подростков
                           </a>
                        </li>
                        <li class="sub-catalog__item">
                           <a class="sub-catalog__link" href="#" target="_blank">
                              Для взрослых
                           </a>
                        </li>
                        <li class="sub-catalog__item">
                           <a class="sub-catalog__link" href="#" target="_blank">
                              Для пенсионеров
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>

         <div class="header-search">
            <form class="header-search__form" action="#">
               <div class="header-search__select-wrap">
                  <select class="default-select">
                     <option selected>Везде</option>
                     <option>Самокаты</option>
                     <option>Аксессуары</option>
                  </select>
               </div>


               <label class="header-search__label">
                  <input class="header-search__input" type="text" name="search" placeholder="Искать самокат KUGO"
                     required>
                  <button class="header-search__btn-clear" title="очистить">
                     <svg class="header-search__btn-clear-icon" width="18" height="18">
                        <use xlink:href="images/sprite.svg#icon-close"></use>
                     </svg>
                  </button>
               </label>
               <button class="header-search__btn" title="поиск" type="submit">
                  <svg class="header-search__btn-icon" width="16" height="16">
                     <use xlink:href="images/sprite.svg#icon-search"></use>
                  </svg>
               </button>
            </form>
         </div>

         <div class="header-actions">
            <ul class="header-actions__list">
               <li class="header-actions__item">
                  <button class="btn-compare" type="button" title="сравнить товар">
                     <svg class="btn-compare__icon" width="20" height="20">
                        <use xlink:href="images/sprite.svg#icon-compare"></use>
                     </svg>
                  </button>
               </li>
               <li class="header-actions__item">
                  <button class="btn-wishlist" type="button" title="список желаний">
                     <svg class="btn-wishlist__icon" width="20" height="20">
                        <use xlink:href="images/sprite.svg#icon-heart-empty"></use>
                     </svg>
                  </button>
               </li>
               <li class="header-actions__item">
                  <button class="btn-cart header-actions__btn">
                     <svg class="btn-cart__icon" width="20" height="20">
                        <use xlink:href="images/sprite.svg#icon-cart-empty"></use>
                     </svg>
                     Корзина
                  </button>

                  <!-- modal cart -->
                  <div class="cart">
                     <div class="cart__head">
                        <h3 class="cart__title">
                           В вашей корзине
                        </h3>
                        <div class="cart__quantity-items">
                           <span class="cart__quantity-num">
                              2
                           </span>
                           товара
                        </div>
                     </div>
                     <ul class="cart__list hidden-scrollbar custom-scrollbar">
                        <li class="cart__item">
                           <article class="product-cart">
                              <a class="product-cart__link" href="#" target="_blank">
                                 <div class="product-cart__inner">
                                    <div class="product-cart__img-wrap">
                                       <img class="product-cart__img" src="images/product-card/img1.jpg"
                                          alt="Kugoo Kirin M4">
                                    </div>
                                    <div class="product-cart__content">
                                       <h4 class="product-cart__title">
                                          Kugoo Kirin M4
                                       </h4>
                                       <div class="product-cart__content-row">
                                          <div class="product-cart__price">
                                             29 900
                                             <span class="product-cart__currency">
                                                ₽
                                             </span>
                                          </div>
                                          <div class="product-cart__quantity">
                                             1 шт.
                                          </div>
                                       </div>
                                    </div>
                                    <button class="product-cart__delete" type="button">
                                       <svg class="product-cart__delete-icon" width="20" height="20">
                                          <use xlink:href="images/sprite.svg#icon-delete"></use>
                                       </svg>
                                    </button>
                                 </div>
                              </a>
                           </article>
                        </li>
                        <li class="cart__item">
                           <article class="product-cart">
                              <a class="product-cart__link" href="#" target="_blank">
                                 <div class="product-cart__inner">
                                    <div class="product-cart__img-wrap">
                                       <img class="product-cart__img" src="images/product-card/img1.jpg"
                                          alt="Kugoo Kirin M4">
                                    </div>
                                    <div class="product-cart__content">
                                       <h4 class="product-cart__title">
                                          Kugoo Kirin M4
                                       </h4>
                                       <div class="product-cart__content-row">
                                          <div class="product-cart__price">
                                             29 900
                                             <span class="product-cart__currency">
                                                ₽
                                             </span>
                                          </div>
                                          <div class="product-cart__quantity">
                                             1 шт.
                                          </div>
                                       </div>
                                    </div>
                                    <button class="product-cart__delete" type="button">
                                       <svg class="product-cart__delete-icon" width="20" height="20">
                                          <use xlink:href="images/sprite.svg#icon-delete"></use>
                                       </svg>
                                    </button>
                                 </div>
                              </a>
                           </article>
                        </li>
                        <li class="cart__item">
                           <article class="product-cart">
                              <a class="product-cart__link" href="#" target="_blank">
                                 <div class="product-cart__inner">
                                    <div class="product-cart__img-wrap">
                                       <img class="product-cart__img" src="images/product-card/img1.jpg"
                                          alt="Kugoo Kirin M4">
                                    </div>
                                    <div class="product-cart__content">
                                       <h4 class="product-cart__title">
                                          Kugoo Kirin M4
                                       </h4>
                                       <div class="product-cart__content-row">
                                          <div class="product-cart__price">
                                             29 900
                                             <span class="product-cart__currency">
                                                ₽
                                             </span>
                                          </div>
                                          <div class="product-cart__quantity">
                                             1 шт.
                                          </div>
                                       </div>
                                    </div>
                                    <button class="product-cart__delete" type="button">
                                       <svg class="product-cart__delete-icon" width="20" height="20">
                                          <use xlink:href="images/sprite.svg#icon-delete"></use>
                                       </svg>
                                    </button>
                                 </div>
                              </a>
                           </article>
                        </li>
                        <li class="cart__item">
                           <article class="product-cart">
                              <a class="product-cart__link" href="#" target="_blank">
                                 <div class="product-cart__inner">
                                    <div class="product-cart__img-wrap">
                                       <img class="product-cart__img" src="images/product-card/img1.jpg"
                                          alt="Kugoo Kirin M4">
                                    </div>
                                    <div class="product-cart__content">
                                       <h4 class="product-cart__title">
                                          Kugoo Kirin M4
                                       </h4>
                                       <div class="product-cart__content-row">
                                          <div class="product-cart__price">
                                             29 900
                                             <span class="product-cart__currency">
                                                ₽
                                             </span>
                                          </div>
                                          <div class="product-cart__quantity">
                                             1 шт.
                                          </div>
                                       </div>
                                    </div>
                                    <button class="product-cart__delete" type="button">
                                       <svg class="product-cart__delete-icon" width="20" height="20">
                                          <use xlink:href="images/sprite.svg#icon-delete"></use>
                                       </svg>
                                    </button>
                                 </div>
                              </a>
                           </article>
                        </li>
                        <li class="cart__item">
                           <article class="product-cart">
                              <a class="product-cart__link" href="#" target="_blank">
                                 <div class="product-cart__inner">
                                    <div class="product-cart__img-wrap">
                                       <img class="product-cart__img" src="images/product-card/img1.jpg"
                                          alt="Kugoo Kirin M4">
                                    </div>
                                    <div class="product-cart__content">
                                       <h4 class="product-cart__title">
                                          Kugoo Kirin M4
                                       </h4>
                                       <div class="product-cart__content-row">
                                          <div class="product-cart__price">
                                             29 900
                                             <span class="product-cart__currency">
                                                ₽
                                             </span>
                                          </div>
                                          <div class="product-cart__quantity">
                                             1 шт.
                                          </div>
                                       </div>
                                    </div>
                                    <button class="product-cart__delete" type="button">
                                       <svg class="product-cart__delete-icon" width="20" height="20">
                                          <use xlink:href="images/sprite.svg#icon-delete"></use>
                                       </svg>
                                    </button>
                                 </div>
                              </a>
                           </article>
                        </li>

                     </ul>
                     <div class="cart__foot">
                        <div class="cart__summ">
                           Сумма:
                           <div class="cart__summ-quantity">
                              59 800
                              <span class="cart__summ-currency">
                                 ₽
                              </span>
                           </div>
                        </div>
                        <button class="btn btn--primary btn--medium">
                           Оформить заказ
                        </button>
                     </div>
                  </div>
               </li>
            </ul>
         </div>

      </div>
   </div>

   <div class="header__bottom">
      <div class="container">
         <nav class="header__bottom-menu header-bottom-menu">
            <ul class="header-bottom-menu__list">
               <li class="header-bottom-menu__item">
                  <a class="header-bottom-menu__link header-bottom-menu__link--active hover" href="#" target="_blank">О
                     магазине</a>
               </li>
               <li class="header-bottom-menu__item">
                  <a class="header-bottom-menu__link hover" href="#" target="_blank">
                     Доставка и оплата
                  </a>
                  <span class="header-bottom-menu__label">
                     Доступна рассрочка
                  </span>
               </li>
               <li class="header-bottom-menu__item">
                  <a class="header-bottom-menu__link hover" href="#" target="_blank">Тест-драйв</a>
               </li>
               <li class="header-bottom-menu__item">
                  <a class="header-bottom-menu__link hover" href="#" target="_blank">Блог</a>
               </li>
               <li class="header-bottom-menu__item">
                  <a class="header-bottom-menu__link hover" href="#" target="_blank">Контакты</a>
               </li>
               <li class="header-bottom-menu__item">
                  <a class="header-bottom-menu__link hover" href="#">
                     Акции
                  </a>
                  <span class="header-bottom-menu__label">
                     %
                  </span>
               </li>
            </ul>
         </nav>
      </div>
   </div>
</header>