<section class="benefits section">
   <div class="container">
      <div class="benefits__top">
         <h2 class="benefits__title title-xl">
            Предлагаем самые выгодные цены
            на продукты Kugoo за счет прямых поставок
         </h2>
         <p class="benefits__descr">
            и заботимся об удобстве покупателей
         </p>
      </div>
      <div class="tabs">
         <ul class="tabs__list">
            <li class="tabs__item">
               <button class="tabs__btn tabs__btn--active btn btn--secondary" data-tabs-path="online-store">
                  Интернет-магазин
               </button>
            </li>
            <li class="tabs__item">
               <button class="tabs__btn btn btn--secondary" data-tabs-path="service-center">
                  Сервисный центр
               </button>
            </li>
         </ul>
         <div class="tabs__content tabs__content--active" data-tabs-target="online-store">
            <ul class="benefits__list">
               <li class="benefits__item">
                  <article class="benefits-card">
                     <div class="benefits-card__inner">
                        <div class="benefits-card__img">
                           <svg class="benefits-card__icon" width="25" height="25">
                              <use xlink:href="images/sprite.svg#cart2"></use>
                           </svg>
                        </div>
                        <h3 class="benefits-card__title">
                           Х товаров в каталоге
                        </h3>
                        <p class="benefits-card__text">
                           Выбирайте товар, который подходит по цене и характеристикам. Если товара нет в наличии
                           —
                           мы сообщим вам о его
                           поступлении.
                        </p>
                     </div>
                  </article>
               </li>
               <li class="benefits__item">
                  <article class="benefits-card">
                     <div class="benefits-card__inner">
                        <div class="benefits-card__img">
                           <svg class="benefits-card__icon" width="25" height="25">
                              <use xlink:href="images/sprite.svg#icon-wallet"></use>
                           </svg>
                        </div>
                        <h3 class="benefits-card__title">
                           5 способов оплаты
                        </h3>
                        <p class="benefits-card__text">
                           Вы можете оплатить покупку наличными, картой, онлайн на сайте, через интернет-банкинг
                           или
                           в
                           кредит от «Сбербанка».
                        </p>
                     </div>
                  </article>
               </li>
               <li class="benefits__item">
                  <article class="benefits-card">
                     <div class="benefits-card__inner">
                        <div class="benefits-card__img">
                           <svg class="benefits-card__icon" width="25" height="25">
                              <use xlink:href="images/sprite.svg#icon-guarantee"></use>
                           </svg>
                        </div>
                        <h3 class="benefits-card__title">
                           Полная документация и гарантия 1 год
                        </h3>
                        <p class="benefits-card__text">
                           При покупке вам выдается кассовый чек, товарный чек и гарантийный талон – эти документы
                           дают право на гарантийное
                           обслуживание.
                        </p>
                     </div>
                  </article>
               </li>
               <li class="benefits__item">
                  <article class="benefits-card">
                     <div class="benefits-card__inner">
                        <div class="benefits-card__img">
                           <svg class="benefits-card__icon" width="25" height="25">
                              <use xlink:href="images/sprite.svg#icon-delivery"></use>
                           </svg>
                        </div>
                        <h3 class="benefits-card__title">
                           Отправка заказа день в день
                        </h3>
                        <p class="benefits-card__text">
                           Отправляем заказы по всей России день в день или забирайте товар самостоятельно в
                           магазинах в Москве, Санкт-Петербурге и
                           Краснодаре
                        </p>
                     </div>
                  </article>
               </li>
               <li class="benefits__item">
                  <article class="benefits-card">
                     <div class="benefits-card__inner">
                        <div class="benefits-card__img">
                           <svg class="benefits-card__icon" width="25" height="25">
                              <use xlink:href="images/sprite.svg#icon-percentage"></use>
                           </svg>
                        </div>
                        <h3 class="benefits-card__title">
                           Рассрочка без переплат
                        </h3>
                        <p class="benefits-card__text">
                           В нашем магазине можно приобрести любой товар в рассрочку. Подробнее про условия
                           рассрочки
                        </p>
                        <a class="link" href="#">
                           Подробнее про условия рассрочки
                        </a>
                     </div>
                  </article>
               </li>
               <li class="benefits__item">
                  <article class="benefits-card benefits-card--more-card"
                     style="background-image: url('images/benefits/benefits-img.png');">
                     <div class="benefits-card__inner">
                        <h3 class="benefits-card__title">
                           Больше в каталоге
                        </h3>
                        <div class="link link--with-icon benefits-card__descr" href="#">
                           Перейти
                           <svg class="link__icon" width="18" height="18">
                              <use xlink:href="images/sprite.svg#arrow-right"></use>
                           </svg>
                        </div>
                     </div>
                     <a class="benefits-card__link-card" href="#"></a>
                  </article>
               </li>
            </ul>
         </div>

         <div class="tabs__content" data-tabs-target="service-center">
            <ul class="benefits__list">
               <li class="benefits__item">
                  <article class="benefits-card">
                     <div class="benefits-card__inner">
                        <div class="benefits-card__img">
                           <svg class="benefits-card__icon" width="25" height="25">
                              <use xlink:href="images/sprite.svg#cart2"></use>
                           </svg>
                        </div>
                        <h3 class="benefits-card__title">
                           Ремонт от 1 дня
                        </h3>
                        <p class="benefits-card__text">
                           Устраним любую неисправность. Обычно делаем это
                           за 1-3 дня, если ремонт сложный — предупредим заранее.
                        </p>
                     </div>
                  </article>
               </li>
               <li class="benefits__item">
                  <article class="benefits-card">
                     <div class="benefits-card__inner">
                        <div class="benefits-card__img">
                           <svg class="benefits-card__icon" width="25" height="25">
                              <use xlink:href="images/sprite.svg#icon-wallet"></use>
                           </svg>
                        </div>
                        <h3 class="benefits-card__title">
                           Гидроизоляция для долгой службы
                        </h3>
                        <p class="benefits-card__text">
                        Покроем электросамокат изнутри специальным веществом, которое предотвратит попадание влаги и позволит кататься в любое
                        время года.
                        </p>
                     </div>
                  </article>
               </li>
               <li class="benefits__item">
                  <article class="benefits-card">
                     <div class="benefits-card__inner">
                        <div class="benefits-card__img">
                           <svg class="benefits-card__icon" width="25" height="25">
                              <use xlink:href="images/sprite.svg#icon-guarantee"></use>
                           </svg>
                        </div>
                        <h3 class="benefits-card__title">
                           Ремонтируем только то, что сломалось
                        </h3>
                        <p class="benefits-card__text">
                           Не навязываем услуги, диагностируем и заранее обговариваем стоимость ремонта.
                        </p>
                     </div>
                  </article>
               </li>
               <li class="benefits__item">
                  <article class="benefits-card">
                     <div class="benefits-card__inner">
                        <div class="benefits-card__img">
                           <svg class="benefits-card__icon" width="25" height="25">
                              <use xlink:href="images/sprite.svg#icon-delivery"></use>
                           </svg>
                        </div>
                        <h3 class="benefits-card__title">
                           Даем гарантию 14 дней на ремонт
                        </h3>
                     </div>
                  </article>
               </li>
               <li class="benefits__item">
                  <article class="benefits-card">
                     <div class="benefits-card__inner">
                        <div class="benefits-card__img">
                           <svg class="benefits-card__icon" width="25" height="25">
                              <use xlink:href="images/sprite.svg#icon-percentage"></use>
                           </svg>
                        </div>
                        <h3 class="benefits-card__title">
                           Оригинальные запчасти
                        </h3>
                        <p class="benefits-card__text">
                           Благодаря прямой связи с производителем имеем в наличии все необходимые новые комплектующие для ремонта.
                        </p>
                     </div>
                  </article>
               </li>
               <li class="benefits__item">
                  <article class="benefits-card benefits-card--more-card"
                     style="background-image: url('images/benefits/benefits-img-2.png');">
                     <div class="benefits-card__inner">
                        <h3 class="benefits-card__title">
                           Больше в сервисе
                        </h3>
                        <div class="link link--with-icon benefits-card__descr" href="#">
                           Перейти
                           <svg class="link__icon" width="18" height="18">
                              <use xlink:href="images/sprite.svg#arrow-right"></use>
                           </svg>
                        </div>
                     </div>
                     <a class="benefits-card__link-card" href="#"></a>
                  </article>
               </li>
            </ul>
         </div>
      </div>
   </div>
</section>