.video-diagnostic {
   margin: 50px 30px;
   border-radius: 10px;
   background: radial-gradient(332.73% 105.25% at 21.88% 87.41%, #539dff 0%, #2777fc 100%),
      radial-gradient(708.28% 82.86% at 23.3% 72.57%, #595959 0%, #3b3e46 100%);

   &__inner {
      @include flex-between-center;
      gap: 30px;
      padding: 67px 0;
   }

   &__img-wrap {
      position: relative;
      &::before {
         @include pseudo;
         @include img-bg;
         background-image: url("../images/icons/video-camera.svg");
         width: 50px;
         height: 50px;
         top: -25px;
         right: -25px;
      }
   }

   &__img {
      border-radius: 4px;
   }

   &__content {
      max-width: 528px;
   }

   &__label {
      margin-bottom: 27px;
   }

   &__title {
      color: $white;
      margin-bottom: 27px;
   }

   &__btn {
      color: #3c89fd;
      background-color: $white;
      border-radius: 5px;
      transition:
         color $transition,
         background-color $transition,
         box-shadow $transition,
         opacity $transition;

      @include hover {
         color: $white;
         box-shadow: 0 0 0 1px $white inset;
         background-color: transparent;
      }
      &:focus {
         box-shadow: 0 0 0 3px $white-rgb-40;
      }
      &:active {
         opacity: 0.5;
      }
   }
}
