<div class="modal-wrapper">
   <div class="modal">
      <div class="modal__inner">
         <h3 class="modal__title title-lg">
            Запишитесь в сервисный центр
         </h3>
         <p class="modal__descr">
            и получите профессионалное обслуживание от специалистов Kugoo-Russia
         </p>

         <form class="modal__form" action="#">
            <h4 class="modal__form-title">
               Заполните форму, и менеджер свяжется с вами
               в течение 5 минут, чтобы уточнить детали
            </h4>
            <div class="modal__form-inner">


               <select class="modal__select modal-select" name="#" id="#">
                  <option selected disabled>Выберите свой город</option>
                  <option value="#">Москва</option>
                  <option value="#">Краснодар</option>
               </select>

               <div class="modal__social social-modal">
                  <h4 class="social-modal__title">
                     Как с вами удобнее связаться?
                  </h4>
                  <div class="social-modal__inner">
                     <label class="social-modal__label">
                        <input class="social-modal__input" type="checkbox">
                        <span class="social-modal__checkbox">
                           <svg class="social-modal__checkbox-icon social-modal__checkbox-icon--viber">
                              <use xlink:href="images/sprite.svg#icon-viber"></use>
                           </svg>
                        </span>
                     </label>
                     <label class="social-modal__label">
                        <input class="social-modal__input" type="checkbox">
                        <span class="social-modal__checkbox">
                           <svg class="social-modal__checkbox-icon social-modal__checkbox-icon--whatsapp">
                              <use xlink:href="images/sprite.svg#whatsapp"></use>
                           </svg>
                        </span>
                     </label>
                     <label class="social-modal__label">
                        <input class="social-modal__input" type="checkbox">
                        <span class="social-modal__checkbox">
                           <svg class="social-modal__checkbox-icon social-modal__checkbox-icon--telegram">
                              <use xlink:href="images/sprite.svg#icon-telegram"></use>
                           </svg>
                        </span>
                     </label>
                  </div>
               </div>

               <label class="modal__label">
                  <input class="modal__input" type="tel" name="phone" placeholder="+7 (___) __ - __ - __" required>
               </label>

               <button class="modal__btn btn btn--primary">
                  Записаться
               </button>

               <div class="modal__privacy">
                  <label class="modal__privacy-label">
                     <input class="modal__privacy-input" type="checkbox">
                     <span class="modal__privacy-checkbox">
                        <svg class="modal__privacy-icon" width="16" height="16">
                           <use xlink:href="images/sprite.svg#icon-check"></use>
                        </svg>
                     </span>
                  </label>
                  <p class="modal__privacy-descr">
                     Нажимая на кнопку, вы соглашаетесь на обработку персональных данных и
                     <a class="link" href="#">политикой конфиденциальности</a>
                  </p>
               </div>
            </div>

         </form>
      </div>
      <img class="modal__img" src="images/modal/01.png" alt="дрель">
      <button class="modal__close" type="button">
         <svg class="modal__close-icon" width="20" height="20">
            <use xlink:href="images/sprite.svg#icon-close"></use>
         </svg>
      </button>
   </div>
</div>