<section class="hero">
   <div class="container">
      <!-- Slider main container -->
      <div class="swiper hero-slider">
         <!-- Additional required wrapper -->
         <div class="swiper-wrapper hero-slider__wrapper">
            <!-- Slides -->
            <div class="swiper-slide hero-slider__slide">
               <div class="hero__inner">
                  <div class="hero__content">
                     <span class="hero__label">
                        Новинка
                     </span>
                     <h1 class="hero__title title-lg">
                        Электросамокаты Kugoo Kirin от официального дилера
                     </h1>
                     <p class="hero__descr">
                        с бесплатной доставкой по РФ от 1 дня
                     </p>
                     <a class="hero__link btn btn--secondary-2" href="#">
                        Перейти в католог
                     </a>
                  </div>
                  <div class="hero__img-wrap">
                     <!-- <img class="hero__img" src="images/test2.jpg" width="538" height="405" alt="img"> -->
                     <img class="hero__img" src="images/hero/hero-bg.png" width="538" height="405" alt="img">
                     <img class="hero__decor-2" src="images/hero/decor-block.png" alt="decor img">
                  </div>
                  <img class="hero__decor-1" src="images/hero/decor-text.png" alt="decor img">
               </div>
            </div>
            <div class="swiper-slide hero-slider__slide">
               <div class="hero__inner">
                  <div class="hero__content">
                     <span class="hero__label">
                        Новинка
                     </span>
                     <h1 class="hero__title title-lg">
                        Электросамокаты Kugoo Kirin от официального дилера
                     </h1>
                     <p class="hero__descr">
                        с бесплатной доставкой по РФ от 1 дня
                     </p>
                     <a class="hero__link btn btn--secondary-2" href="#">
                        Перейти в католог
                     </a>
                  </div>
                  <div class="hero__img-wrap">
                     <!-- <img class="hero__img" src="images/test2.jpg" width="538" height="405" alt="img"> -->
                     <img class="hero__img" src="images/hero/hero-bg.png" width="538" height="405" alt="img">
                     <img class="hero__decor-2" src="images/hero/decor-block.png" alt="decor img">
                  </div>
                  <img class="hero__decor-1" src="images/hero/decor-text.png" alt="decor img">
               </div>
            </div>
            <div class="swiper-slide hero-slider__slide">
               <div class="hero__inner">
                  <div class="hero__content">
                     <span class="hero__label">
                        Новинка
                     </span>
                     <h1 class="hero__title title-lg">
                        Электросамокаты Kugoo Kirin от официального дилера
                     </h1>
                     <p class="hero__descr">
                        с бесплатной доставкой по РФ от 1 дня
                     </p>
                     <a class="hero__link btn btn--secondary-2" href="#">
                        Перейти в католог
                     </a>
                  </div>
                  <div class="hero__img-wrap">
                     <!-- <img class="hero__img" src="images/test2.jpg" width="538" height="405" alt="img"> -->
                     <img class="hero__img" src="images/hero/hero-bg.png" width="538" height="405" alt="img">
                     <img class="hero__decor-2" src="images/hero/decor-block.png" alt="decor img">
                  </div>
                  <img class="hero__decor-1" src="images/hero/decor-text.png" alt="decor img">
               </div>
            </div>
         </div>

         <!-- pagination -->
         <div class="hero-slider__pagination"></div>


         <!-- Navigation buttons -->
         <div class="hero-slider__prev">
            <svg class="hero-slider__prev-icon" width="6" height="11">
               <use xlink:href="images/sprite.svg#icon-arrow-left"></use>
            </svg>
         </div>
         <div class="hero-slider__next">
            <svg class="hero-slider__next-icon" width="6" height="11">
               <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
            </svg>
         </div>

      </div>
   </div>
</section>