.testimonials {
   margin: 0 30px;

   &__top {
      max-width: 780px;
      text-align: center;
      margin: 0 auto 50px;
   }

   &__title {
      margin-bottom: 17px;
   }

   &__link {
     
   }
}