.scooters {
   &__top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
   }

   &__filter {
      display: flex;
      gap: 10px;
   }

   &__filter-item {
   }
   &__filter-btn--active {
      color: $accent;
      background-color: $white;
      border: 1.3px solid $accent;
   }

   &__cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
      gap: 30px;
      margin-bottom: 50px;
   }

   &__cards-item {
   }



   &__bottom {
      display: flex;
      justify-content: center;
   }
}
